@font-face {
  font-family: Akrobat;
  src: url("https://animere.net/fonts/Akrobat.woff2");
  src: url("https://animere.net/fonts/Akrobat.woff");
  src: url("https://animere.net/fonts/Akrobat.eot");
  font-display: optional;
}
body {
  margin: 0;
  padding: 0;
  background-color: #111 !important;
  background-attachment: fixed;
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-family: "Akrobat", -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}
.fondo {
  top: 90px;
  max-width: 100%;
  min-width: 675px;
  height: 350px;
}
.fondo1 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  bottom: 1px;
  width: 100%;
  height: 400px;
}
.fondo2 {
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  bottom: 1px;
  opacity: 0.4;
  width: 100%;
  height: 100vh;
}
@media only screen and (max-width: 575px) {
  .fondo1 {
    height: 250px;
  }
}
.portada {
  position: absolute;
  height: 275px;
  margin-left: 135px;
  min-width: 675px;
  max-width: 100%;
  top: 40%;
}
.portada1 {
  height: 275px;
  width: 190px;
  z-index: 1;
}
.titulo {
  position: relative;
  top: 100px;
  left: 345px;
  border-bottom: 1px solid #3e4234;
  color: #d4d410;
  max-width: 1000px;
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
}
.descripcion {
  position: relative;
  top: 100px;
  color: #fff;
  margin-left: 350px;
}
.conjunto3 {
  position: relative;
  left: 350px;
  top: 100px;
  max-width: 75%;
  min-width: 675px;
  height: auto;
}
.generos {
  color: #b1aeae;
  float: left;
}
.are_cat {
  text-decoration: none;
  color: #ebcc43;
  border: 1px solid #ebcc43;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
}
.are_cat:hover {
  text-decoration: none !important;
  color: #ebcc43 !important;
}
.uno {
  text-decoration: none;
  color: #d15422;
  border: 1px solid #d15422;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
}
.uno:hover {
  background: #d15422;
  color: #fff;
  text-decoration: none;
}
.dos {
  text-decoration: none;
  color: #d15422;
  border: 1px solid #d15422;
  padding-left: 10px;
  padding-right: 10px;
}
.dos:hover {
  background: #d15422;
  color: #fff;
  text-decoration: none;
}
.tres {
  text-decoration: none;
  color: #d15422;
  border: 1px solid #d15422;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
}
.tres:hover {
  background: #d15422;
  color: #fff;
  text-decoration: none;
}
.cuatro {
  text-decoration: none;
  color: #d15422;
  border: 1px solid #d15422;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
}
.cuatro:hover {
  background: #d15422;
  color: #fff;
  text-decoration: none;
}
.cinco {
  text-decoration: none;
  color: #d15422;
  border: 1px solid #d15422;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
}
.cinco:hover {
  background: #d15422;
  color: #fff;
  text-decoration: none;
}
.estado {
  color: #b1aeae;
  float: left;
}
.verde {
  text-decoration: none;
  color: #11e23f;
  border: 1px solid #11e23f;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
}
.rojo {
  text-decoration: none;
  color: #e21111;
  border: 1px solid #e21111;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
}
.verde:hover {
  background: #11e23f;
  color: #fff;
  text-decoration: none;
}
.fecha {
  color: #b1aeae;
  float: left;
}
.cap {
  position: relative;
  top: 250px;
  left: 150px;
  border-bottom: 1px solid #552d2d;
  color: #c22237;
  max-width: 1000;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: lighter;
}
.lista {
  border: 1px solid #fff;
  position: relative;
  top: 255px;
  left: 150px;
  height: 500px;
  max-width: 1000;
}
tr.td-cap > td > a {
  color: #ebcc34;
  text-decoration: none;
  line-height: 3;
  display: block;
  padding-left: 0.3em;
  font-weight: 500;
  transition: all 0.2s;
}
tr.td-cap > td:hover a {
  background-color: #ebcc34;
  color: #22062d;
  padding-left: 2em;
  font-weight: 700;
  transition: all 0.2s;
}
.descripcion_anime {
  padding: 15px;
  margin: 7px !important;
  background-color: #222222ad;
}
@media only screen and (min-width: 990px) {
  .descripcion_anime {
    padding: 15px;
    margin: 7px !important;
    background-color: #222222ad;
  }
}
.caps_anime {
  padding: 15px;
  margin: 7px !important;
  background-color: #222222ad;
}
@media only screen and (max-width: 1280px) {
  .conjunto3 {
    left: 100px;
  }
}
@media only screen and (max-width: 960px) {
  .descripcion {
    margin-left: 225px;
  }
  .titulo {
    left: 225px;
  }
  .portada {
    margin-left: 10px;
    top: 50%;
  }
}
@media only screen and (max-width: 774px) {
  .descripcion {
    margin-left: 225px;
    top: 10px;
  }
  .titulo {
    position: static;
    margin-left: 225px;
  }
  .portada {
    margin-left: 10px;
  }
}
.titulo_anime {
  padding: 15px;
  margin: 0 7px 7px 7px !important;
  background-color: #222222ad;
}
@media only screen and (max-width: 990px) {
  .titulo_anime {
    text-align: center !important;
    justify-content: center !important;
    padding: 15px;
  }
}
@media only screen and (max-width: 990px) {
  .descripcion_anime {
    text-align: center !important;
    justify-content: center !important;
    padding: 15px;
  }
}
.info_anime {
  font-size: 0.8rem;
}
@media only screen and (max-width: 575px) {
  .info_anime {
    flex-direction: row !important;
    padding: 15px;
    justify-content: center !important;
    margin-left: auto !important;
    margin-right: auto !important;
    font-size: 0.8rem;
  }
}
.anime_imagen div {
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
}
.anime_imagen img {
  width: 96% !important;
  border: 3px solid #ebcc43;
  margin-top: -130px !important;
  margin-bottom: 0.5rem;
}
.anime_imagen2 img {
  width: 100% !important;
  border: 3px solid #ebcc43;
  margin-bottom: 0.5rem;
}
.anime_imagen_capFrame img {
  width: 96% !important;
  border: 3px solid #ebcc43;
  margin-top: 0px !important;
  margin-bottom: 0.5rem;
}
@media only screen and (max-width: 767px) {
  .anime_imagen_capFrame img {
    width: 56% !important;
    border: 3px solid #ebcc43;
    margin-top: 0px !important;
    margin-bottom: 0.5rem;
  }
}
@media only screen and (min-width: 576px) {
  .anime_imagen img {
    width: 100% !important;
    margin-top: 0;
  }
}
@media only screen and (max-width: 767px) {
  .anime_imagen2 img {
    width: 46% !important;
    margin-top: 0;
  }
}
.comentarios {
  background-color: #ffeb97;
}
.puntaje {
  position: absolute;
  right: 0;
  bottom: 0;
  color: #ebcc34;
}
@media only screen and (max-width: 1024px) {
  .puntaje {
    display: none;
  }
}
.are-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
}
@keyframes fadeInOpacity {
  0% {
    opacity: 0;
    right: -500px;
  }
  100% {
    opacity: 1;
    right: 0;
  }
}
.panel-admin {
  display: inline-block;
}
.icono {
  display: inline;
  width: 100px;
}
.dropbtn {
  background-color: #4caf50;
  color: #fff;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.dropbtn:focus,
.dropbtn:hover {
  background-color: #3e8e41;
}
.dpdwmr {
  position: relative;
  display: inline-block;
  margin-top: 7px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 100%;
  border-radius: 5px;
  margin-top: 15px;
  padding: 10px;
  right: 0;
}
.main {
  margin-top: 10px;
}
.show {
  display: block;
}
.dpdw-title {
  font-size: 18px;
  padding: 10px;
  border-bottom: 1px solid #f3f3f3;
}
.btn-dpdw {
  width: 160px;
}
.btn-button {
  text-transform: uppercase;
  font-weight: 700;
}
.form-group a {
  margin-bottom: 0;
}
.log {
  border: 1px solid #f1f1f1;
  border-radius: 5px;
  background-color: #fff;
  width: 400px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}
.content {
  margin-bottom: 10px;
  margin-top: 0.5rem;
  display: block;
}
.post-vp .area-imagen {
  max-width: auto;
  height: auto;
}
.post {
  padding: 10px;
  width: 200px;
  border: 1px solid #dedede;
  display: inline-block;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 20px;
}
.posts {
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 2px solid #f5f5f5;
  padding-bottom: 10px;
}
.posts .thumb {
  margin-right: 10px;
  width: 20%;
}
.posts .thumb img {
  width: 100%;
}
.posts h2 a {
  color: #7b7b7b;
  text-decoration: none;
}
.posts h1 a {
  color: #7b7b7b;
  text-decoration: none;
}
.post-content {
  padding: 5px;
}
.post:hover {
  padding: 10px;
  width: 200px;
  border: 1px solid #dedede;
  display: inline-block;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 20px;
  background-color: #dedede;
}
.post-vp {
  display: inline-block;
  width: 100%;
  height: auto;
  overflow: hidden;
}
.img-fluid-are {
  width: 100%;
  height: auto;
  transition: 0.2s;
}
/* .img-fluid-are-div::after {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
  background: rgba(255, 255, 255, 0);
  background: -moz-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0) 67%,
    rgba(244, 244, 244, 0) 68%,
    rgba(0, 0, 0, 0.72) 91%,
    rgba(0, 0, 0, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0, rgba(255, 255, 255, 0)),
    color-stop(67%, rgba(255, 255, 255, 0)),
    color-stop(68%, rgba(244, 244, 244, 0)),
    color-stop(91%, rgba(0, 0, 0, 0.72)),
    color-stop(100%, rgba(0, 0, 0, 1))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0) 67%,
    rgba(244, 244, 244, 0) 68%,
    rgba(0, 0, 0, 0.72) 91%,
    rgba(0, 0, 0, 1) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0) 67%,
    rgba(244, 244, 244, 0) 68%,
    rgba(0, 0, 0, 0.72) 91%,
    rgba(0, 0, 0, 1) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0) 67%,
    rgba(244, 244, 244, 0) 68%,
    rgba(0, 0, 0, 0.72) 91%,
    rgba(0, 0, 0, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0) 67%,
    rgba(244, 244, 244, 0) 68%,
    rgba(0, 0, 0, 0.72) 91%,
    rgba(0, 0, 0, 1) 100%
  );
} */
.post-vp:hover {
  display: inline-block;
  overflow: hidden;
}
.sinopsis {
  margin: 5px;
}
.side-bar {
  background-color: #fff;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #dedede;
}
.bdr-title {
  border-bottom: 0 solid #bcbcbc;
}
.side-day {
  border: 1px solid #dedede;
}
.footer {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;
  margin-top: 20px;
}
.nm-footer {
  font-weight: 700;
}
.nm-footer:hover {
  color: #dfaa99;
}
.contenido {
  padding: 10px;
}
.contenido .thumb {
  width: 25%;
  margin-right: 10px;
}
.contenido .thumb img {
  width: 100%;
}
.area-video {
  background-color: #454545;
  padding: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
  border: 1px solid #303030;
  display: block;
}
.widget-video {
  background-color: #454545;
  margin-bottom: 10px;
  margin-top: 20px;
  border: 1px solid #484848;
  display: block;
  border-radius: 2px;
}
.title-name-video {
  background-color: #959595;
  color: #fff;
  padding: 10px;
  border-radius: 3px;
}
.TabListCap {
  margin-left: 0;
  width: 100%;
  text-align: center;
  display: table;
  background-color: #252525;
  border-radius: 5px;
}
.TabListCap > li {
  float: left;
}
.TabListCap > li > a {
  width: 100%;
}
.nav-pills > li {
  color: #fff;
  border-top: 2px solid #5c1571;
  background-color: #101010;
}
.Prev {
  background-color: #101010;
  border-radius: 50%;
  padding: 5px;
  font-size: 25px;
  margin-left: 5px;
}
.Next {
  background-color: #101010;
  border-radius: 50%;
  padding: 5px;
  font-size: 25px;
}
.Next:hover,
.Prev:hover {
  background-color: #00bcf2;
}
.Prev:focus .Next:focus {
  background-color: #00bcf2;
}
.divisor {
  border-top: 1px solid #00bcf2;
  margin: 5px 5px;
}
.space {
  margin: 5px 5px 5px 5px;
  display: inline-block;
}
.gnero {
  margin-top: 10px;
  padding: 10px 5px 5px 5px;
  height: 80px;
  background-color: #2d2828;
  border-radius: 5px;
}
.margin {
  margin: 0 2px 0 2px;
  display: inline-block;
  font-weight: 700;
}
#resultado-q {
  position: absolute;
  margin-top: 25px;
  z-index: 99;
}
.resultado {
  position: absolute;
  background-color: #111;
  color: #ebcc43;
  width: 400px;
  padding-top: 10px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 3px;
  box-shadow: 5px 5px 5px #000;
}
.resultado a {
  color: #ebcc43;
  text-decoration: none;
}
.resultado a:hover {
  text-decoration: none;
  color: #ebcc43;
}
.resultado-q {
  padding-bottom: 5px;
  padding-top: 5px;
}
.seccion1 {
  position: relative;
  top: 200px;
  width: 250px;
  height: 200px;
  margin: 10px;
  border: 2px solid #f1ebeb;
  float: left;
  color: #fff;
}
.main-container {
  max-width: 1440px !important;
}
.main-slider {
  max-width: 1280px;
}
.title {
  color: #ebcc43;
  margin-bottom: 0px !important;
  font-weight: bold;
  padding: 5px;
}
.col-2dot4,
.col-lg-2dot4,
.col-md-2dot4,
.col-sm-2dot4,
.col-xl-2dot4 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.col-2dot4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%;
}
@media (min-width: 540px) {
  .col-sm-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
}
@media (min-width: 720px) {
  .col-md-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
}
@media (min-width: 960px) {
  .col-lg-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
}
@media (min-width: 1140px) {
  .col-xl-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
}
@media (max-width: 540px) {
  #buscar1 {
    width: 200px;
    margin-top: 10px;
  }
}
@media only screen and (min-width: 1024px) {
  .carousel {
    margin: 0 auto;
  }
}
.konata {
  visibility: hidden;
}
@media (min-width: 1024px) {
  .konata {
    visibility: visible;
  }
}
.anime-card {
  width: 14rem;
}
.anime-card img {
  height: 350px;
  object-fit: cover;
}
@media (max-width: 974px) {
  .anime-grid {
    justify-content: center;
  }
  .anime-card {
    width: 12rem;
  }
}
@media (max-width: 574px) {
  .anime-grid {
    justify-content: center;
  }
  .anime-card {
    width: 9rem;
  }
  .anime-card img {
    height: 250px;
    object-fit: cover;
  }
}
.donar {
  max-width: 70%;
  float: right;
}
@media (max-width: 1366px) {
  .donar {
    max-width: 30%;
    float: right;
  }
}
@media (max-width: 767px) {
  .tituloh2 {
    justify-content: center;
    margin: auto;
    text-align: center;
  }
}
div .are_post {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border: 1px solid #ebcc43;
}
.are_post img {
  object-fit: cover;
  object-position: center;
  height: 150px;
  width: 100%;
  transition: 0.2s;
}
.are_post:hover img {
  border: 3px solid #fff;
  transform: scale(1.1);
  transition: 0.2s;
}
.are_post:hover h5,
:focus h5 {
  transform: scale(1.05);
  transition: 0.2s;
}
.are_post h5 {
  position: absolute;
  bottom: 3px;
  margin-bottom: 0 !important;
  left: 7px;
  color: #ebcc43;
  flex: 1 1 auto;
  padding: 5px !important;
  font-size: 1rem;
  z-index: 10;
  transition: 0.2s;
}
.are_post_img_container::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: block;
  background: rgba(255, 255, 255, 0);
  background: -moz-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 0,
    rgba(245, 245, 245, 0) 34%,
    rgba(244, 244, 244, 0.03) 36%,
    rgba(0, 0, 0, 0.39) 61%,
    rgba(0, 0, 0, 0.72) 84%,
    rgba(0, 0, 0, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0, rgba(255, 255, 255, 0)),
    color-stop(34%, rgba(245, 245, 245, 0)),
    color-stop(36%, rgba(244, 244, 244, 0.03)),
    color-stop(61%, rgba(0, 0, 0, 0.39)),
    color-stop(84%, rgba(0, 0, 0, 0.72)),
    color-stop(100%, rgba(0, 0, 0, 1))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 0,
    rgba(245, 245, 245, 0) 34%,
    rgba(244, 244, 244, 0.03) 36%,
    rgba(0, 0, 0, 0.39) 61%,
    rgba(0, 0, 0, 0.72) 84%,
    rgba(0, 0, 0, 1) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 0,
    rgba(245, 245, 245, 0) 34%,
    rgba(244, 244, 244, 0.03) 36%,
    rgba(0, 0, 0, 0.39) 61%,
    rgba(0, 0, 0, 0.72) 84%,
    rgba(0, 0, 0, 1) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 0,
    rgba(245, 245, 245, 0) 34%,
    rgba(244, 244, 244, 0.03) 36%,
    rgba(0, 0, 0, 0.39) 61%,
    rgba(0, 0, 0, 0.72) 84%,
    rgba(0, 0, 0, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0,
    rgba(245, 245, 245, 0) 34%,
    rgba(244, 244, 244, 0.03) 36%,
    rgba(0, 0, 0, 0.39) 61%,
    rgba(0, 0, 0, 0.72) 84%,
    rgba(0, 0, 0, 1) 100%
  );
}
@media only screen and (max-width: 767px) {
  .are_post img {
    object-fit: cover;
    object-position: center;
    height: 180px;
    width: 100%;
  }
}
.are_post h5 > a {
  color: #ebcc43 !important;
}
.are_post h5 > a:hover,
a:focus {
  text-decoration: none !important;
  color: #c2a836 !important;
}
.capitulos_titulo {
  background-color: #ebcc43;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 0 0 12px 12px;
  -moz-border-radius: 0 0 12px 12px;
  -webkit-border-radius: 0 0 12px 12px;
  flex: 1 1 auto;
  box-shadow: 3px 3px #4b00c9;
  max-height: 1.3rem;
  overflow: hidden;
}
.capitulos_titulo > h5 {
  vertical-align: middle;
}
.dflex {
  display: flex;
  flex-direction: column;
  flex: auto;
  margin-bottom: 0.5rem;
  padding: 10px;
}
.tabla_episodios {
  margin-bottom: 15px;
  max-height: 60vh;
  overflow: auto;
}
#caps_scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
  border-radius: 1px;
}
#caps_scrollbar::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}
#caps_scrollbar::-webkit-scrollbar-thumb {
  border-radius: 1px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.44, #ebcc43),
    color-stop(0.72, #ebcc43),
    color-stop(0.86, #ebcc43)
  );
}
.caps_scrollbar {
  scrollbar-color: #ebcc43;
  scrollbar-width: thin;
}
.caps_scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
  border-radius: 1px;
}
.caps_scrollbar::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
}
.caps_scrollbar::-webkit-scrollbar-thumb {
  border-radius: 1px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.44, #ebcc43),
    color-stop(0.72, #ebcc43),
    color-stop(0.86, #ebcc43)
  );
}
.caps_scrollbar {
  scrollbar-color: #ebcc43;
  scrollbar-width: thin;
}
.proximo_ep {
  background: #28a745;
  color: #fff;
  font-weight: 500;
  font-size: 1.2em;
  vertical-align: middle;
  padding-left: 5px;
}
.are_ad_banner {
  display: block !important;
}
@media only screen and (max-width: 767px) {
  .are_ad_banner {
    display: none !important;
  }
}
.are_ad_mobile {
  display: none !important;
}
@media only screen and (max-width: 767px) {
  .are_ad_mobile {
    display: block !important;
  }
}
.boton_estado {
  max-width: 100%;
}
@media only screen and (max-width: 575px) {
  .boton_estado {
    max-width: 284px;
    margin: auto;
  }
}
.are_c_img {
  border-radius: 5px;
}
.init_bg {
  position: absolute;
  z-index: 99;
  background-color: rgba(10, 10, 10, 0.6);
}
@media only screen and (max-width: 767px) {
  .init_bg {
    position: relative;
    z-index: 99;
    background-color: rgba(10, 10, 10, 0.6);
  }
}
.vw100_are {
  width: 100vw;
}
.are_grid {
  margin-top: -20%;
}
@media screen and (max-width: 1920px) {
  .are_grid {
    margin-top: -20%;
  }
}
@media screen and (max-width: 1650px) {
  .are_grid {
    margin-top: -15%;
  }
}
@media screen and (max-width: 1366px) {
  .are_grid {
    margin-top: -15%;
  }
}
@media screen and (max-width: 1024px) {
  .are_grid {
    margin-top: -10%;
  }
}
@media screen and (max-width: 1000px) {
  .are_grid {
    margin-top: 1px;
  }
}
.are_nav_t {
}
.capitulo_are .are_icon_c {
  position: absolute;
  font-size: 50px;
  text-align: center;
  vertical-align: middle;
  opacity: 0;
  transition: 0.2s;
  top: 35px;
}
.capitulo_are:hover .are_icon_c {
  transition: 0.2s;
  opacity: 1;
  top: 35px;
  z-index: 99;
  color: #ebcc43;
}
.capitulo_are:hover img {
  transition: 0.2s;
  backface-visibility: hidden;
  z-index: -1;
  transform: scale(1);
}
.capitulo_are:hover h5 {
  font-size: 1.2rem;
  transition: 0.2s;
  backface-visibility: hidden;
  transform: scale(1);
}
a p.a_description {
  position: absolute;
  opacity: 0;
}
a:hover > .a_description {
  opacity: 1;
  transition: 0.2s;
  color: #fff !important;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
}
.v_are_ad {
  display: block;
  position: absolute;
  float: left;
  left: 20px;
}
@media only screen and (max-width: 757px) {
  .v_are_ad {
    position: absolute;
    float: left;
    left: 20px;
    display: hidden;
  }
}
.img_emision {
  width: 150px;
  height: 150px;
  overflow: hidden;
}
.img_emision img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 5%;
}
.emision_sinopsis {
  display: block;
  height: 100px;
  overflow: hidden;
}
@media only screen and (max-width: 757px) {
  .img_emision {
    width: 75px;
    height: 75px;
    overflow: hidden;
  }
}
@media only screen and (max-width: 575px) {
  .emision_sinopsis {
    display: none;
  }
}
.q_img {
  width: 75px;
  height: 115px;
  overflow: hidden;
}
.q_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 5%;
}
.are_bg_init {
  position: relative;
  opacity: 1;
}
.are_bg_init > * {
  z-index: 100;
}
.are_bg_init::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  background: rgba(34, 34, 34, 0.2);
  background: -moz-linear-gradient(
    top,
    rgba(34, 34, 34, 0.2) 0,
    rgba(34, 34, 34, 0.2) 78%,
    rgba(34, 34, 34, 1) 95%,
    rgba(34, 34, 34, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0, rgba(34, 34, 34, 0.2)),
    color-stop(78%, rgba(34, 34, 34, 0.2)),
    color-stop(95%, rgba(34, 34, 34, 1)),
    color-stop(100%, rgba(34, 34, 34, 1))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(34, 34, 34, 0.2) 0,
    rgba(34, 34, 34, 0.2) 78%,
    rgba(34, 34, 34, 1) 95%,
    rgba(34, 34, 34, 1) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(34, 34, 34, 0.2) 0,
    rgba(34, 34, 34, 0.2) 78%,
    rgba(34, 34, 34, 1) 95%,
    rgba(34, 34, 34, 1) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(34, 34, 34, 0.2) 0,
    rgba(34, 34, 34, 0.2) 78%,
    rgba(34, 34, 34, 1) 95%,
    rgba(34, 34, 34, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(34, 34, 34, 0.2) 0,
    rgba(34, 34, 34, 0.2) 78%,
    rgba(34, 34, 34, 1) 95%,
    rgba(34, 34, 34, 1) 100%
  );
}
.are_post:hover .date_are_n {
  transition: 0.2s;
  transform: translate(0, -50px);
  opacity: 0;
}
.are_s_title {
  position: relative;
  left: 5px;
  z-index: 10;
  margin-bottom: 0 !important;
  color: #ebcc43;
}

.are_info_s {
  position: absolute;
  bottom: 0px;
  background-color: #222222df;
  width: 100%;
}
#page-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: #222 none repeat scroll 0 0;
  z-index: 99999;
}
#page-loader .preloader-interior {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #ebcc43;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
#page-loader .preloader-interior:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #8501ff;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}
#page-loader .preloader-interior:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #ebcc43;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.box {
  border: 1px solid #ebcc43;
}
.badge-are {
  color: #ebcc43;
  transition: 0.2s;
  top: auto;
  opacity: 1;
}
.badge-are-c {
  color: #f1f1f1;
  background-color: #0d964a;
  transition: 0.2s;
  top: auto;
  opacity: 1;
}
.capitulo_are:hover .badge-are {
  transition: 0.2s;
  opacity: 1;
}
.are-are {
  color: #ebcc43 !important;
  border-bottom: 1px solid #ebcc43;
}
.are-are h1 {
  color: #222 !important;
}
.vistas-cap-badge {
  color: #ebcc43c4 !important;
  margin-bottom: 0 !important;
  font-size: 0.8rem !important;
}

.are-h5 {
  font-size: 1rem !important;
  margin-bottom: 0 !important;
  text-decoration: none;
}

.cap-badge {
  position: relative !important;
  color: #ebcc43c4 !important;
  font-size: 0.8rem !important;
  margin-bottom: 0 !important;
}
.title_cap {
  margin-bottom: 0 !important;
  bottom: 2px;
  color: #ebcc43;
  padding: 5px;
  font-weight: bold;
  font-size: 100% !important;
  transition: 0.2s;
  position: relative;
  z-index: 99;
}
.capitulo_are {
  position: relative;
  z-index: 10;
  justify-content: center;
  display: flex;
}

.unclick {
  color: #d6d6d6 !important;
}

.clicked {
  color: #ebcc43 !important;
}

.nav-are {
  display: block;
  padding: 0.2rem 0.5rem;
}
.nav-pills .nav-are.active,
.nav-pills .show > .nav-are {
  color: #222 !important;
  background-color: #ebcc34;
  padding: 0.2rem 0.5rem;
}
.nav-pills .nav-are:hover {
  text-decoration: none;
}

.shigatsu {
  background-image: url("https://animere.net/img/shigatsu.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  opacity: 25%;
  background-color: #222;
  max-width: 100%;
  height: auto;
}
.are-vote {
  color: #ffffffde;
  background-color: #2220;
  border: 0;
  font-size: 1.6rem;
}
.are-vote.active {
  color: #ebcc43;
  background-color: #2220;
  border: 0;
  font-size: 1.6rem;
}
button:focus {
  outline: 0px !important;
  outline: 0px auto -webkit-focus-ring-color !important;
}
@media only screen and (max-width: 757px) {
  .navbar-fixed-are {
    position: fixed !important;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
    background-color: #222;
  }
}
.text-navbar-are {
  font-size: 1.1rem !important;
}
@media only screen and (max-width: 757px) {
  .text-navbar-are {
    font-size: 0.9rem !important;
  }
}
.icon-navbar-are {
  font-size: 1.1rem !important;
}
@media only screen and (max-width: 757px) {
  .icon-navbar-are {
    font-size: 1.3rem !important;
  }
}
