@font-face {
  font-family: Akrobat;
  src: url("../fonts/Akrobat.woff2");
  src: url("../fonts/Akrobat.woff");
  src: url("../fonts/Akrobat.eot");
  font-display: optional;
}
body {
  margin: 0;
  padding: 0;
  background-color: #111 !important;
  background-attachment: fixed;
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-family: "Akrobat", -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}

/* ------------------------------- CONTAINER PRINCIPAL ------------------------------*/
.content {
  margin-bottom: 10px;
  margin-top: 0.5rem;
  display: block;
}
.post-vp {
  display: inline-block;
  width: 100%;
  height: auto;
  overflow: hidden;
}
.img-fluid-are {
  min-width: 210px;
  width: 100%;
  height: auto;
  transition: 0.2s;
}
/* .img-fluid-are-div::after {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
  background: rgba(255, 255, 255, 0);
  background: -moz-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 67%,
    rgba(244, 244, 244, 0) 68%,
    rgba(0, 0, 0, 0.72) 91%,
    rgba(0, 0, 0, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0%, rgba(255, 255, 255, 0)),
    color-stop(67%, rgba(255, 255, 255, 0)),
    color-stop(68%, rgba(244, 244, 244, 0)),
    color-stop(91%, rgba(0, 0, 0, 0.72)),
    color-stop(100%, rgba(0, 0, 0, 1))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 67%,
    rgba(244, 244, 244, 0) 68%,
    rgba(0, 0, 0, 0.72) 91%,
    rgba(0, 0, 0, 1) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 67%,
    rgba(244, 244, 244, 0) 68%,
    rgba(0, 0, 0, 0.72) 91%,
    rgba(0, 0, 0, 1) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 67%,
    rgba(244, 244, 244, 0) 68%,
    rgba(0, 0, 0, 0.72) 91%,
    rgba(0, 0, 0, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 67%,
    rgba(244, 244, 244, 0) 68%,
    rgba(0, 0, 0, 0.72) 91%,
    rgba(0, 0, 0, 1) 100%
  );
} */
.post-vp:hover {
  display: inline-block;
  overflow: hidden;
}
.bdr-title {
  border-bottom: 0px solid #bcbcbc;
}
/*------------------------------- PIE DE PAGINA -----------------------------------------------------*/
.footer {
  background-color: #222;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;
  margin-top: 20px;
}
.nm-footer {
  font-weight: bold;
}
.nm-footer:hover {
  color: #dfaa99;
}
/*------------------------- BUSCADOR ------------------------------*/
#resultado-q {
  position: absolute;
  margin-top: 25px;
  z-index: 99;
}
.resultado {
  position: absolute;
  background-color: #111;
  color: #ebcc43;
  width: 400px;
  padding-top: 10px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 3px;
  box-shadow: 5px 5px 5px #000;
}
.resultado a {
  color: #ebcc43;
  text-decoration: none;
}
.resultado a:hover {
  text-decoration: none;
  color: #ebcc43;
}
.resultado-q {
  padding-bottom: 5px;
  padding-top: 5px;
}
/*------------------------- BUSCADOR ------------------------------*/
/*------------------------- LANDING PAGE ------------------------------*/
.title {
  color: #ebcc43;
  margin-bottom: 0px !important;
  font-weight: bold;
}
.title_cap {
  margin-bottom: 0 !important;
  bottom: 2px;
  color: #ebcc43;
  background-color: #222;
  padding: 5px;
  font-weight: bold;
  font-size: 100% !important;
  transition: 0.2s;
  position: relative;
  z-index: 99;
}

@media (max-width: 540px) {
  #buscar1 {
    width: 200px;
    margin-top: 10px;
  }
}

@media only screen and (min-width: 1024px) {
  .carousel {
    margin: 0 auto;
  }
}

.anime-card {
  width: 14rem;
}

.anime-card img {
  height: auto;
  object-fit: cover;
}

.anime-card-rec img {
  height: auto;
  object-fit: cover;
}

@media (max-width: 974px) {
  .anime-grid {
    justify-content: center;
  }
  .anime-card {
    width: 12rem;
  }
}

@media (max-width: 574px) {
  .anime-grid {
    justify-content: center;
  }
  .anime-card {
    width: 9rem;
  }
  .anime-card img {
    height: 250px;
    object-fit: cover;
  }
}

div .are_post {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.are_post img {
  object-fit: cover;
  object-position: center;
  height: 150px;
  width: 100%;
  transition: 0.2s;
}

.are_post:hover img {
  border: 3px solid #fff;
  transform: scale(1.1);
  transition: 0.2s;
}

.are_post h5 {
  position: absolute;
  bottom: 3px;
  margin-bottom: 0 !important;
  left: 7px;
  color: #ebcc43;
  flex: 1 1 auto;
  padding: 5px !important;
  font-size: 1rem;
  z-index: 10;
  transition: 0.2s;
}
.are_post_img_container::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: block;
  background: rgba(255, 255, 255, 0);
  background: -moz-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 0%,
    rgba(245, 245, 245, 0) 34%,
    rgba(244, 244, 244, 0.03) 36%,
    rgba(0, 0, 0, 0.39) 61%,
    rgba(0, 0, 0, 0.72) 84%,
    rgba(0, 0, 0, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0%, rgba(255, 255, 255, 0)),
    color-stop(34%, rgba(245, 245, 245, 0)),
    color-stop(36%, rgba(244, 244, 244, 0.03)),
    color-stop(61%, rgba(0, 0, 0, 0.39)),
    color-stop(84%, rgba(0, 0, 0, 0.72)),
    color-stop(100%, rgba(0, 0, 0, 1))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 0%,
    rgba(245, 245, 245, 0) 34%,
    rgba(244, 244, 244, 0.03) 36%,
    rgba(0, 0, 0, 0.39) 61%,
    rgba(0, 0, 0, 0.72) 84%,
    rgba(0, 0, 0, 1) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 0%,
    rgba(245, 245, 245, 0) 34%,
    rgba(244, 244, 244, 0.03) 36%,
    rgba(0, 0, 0, 0.39) 61%,
    rgba(0, 0, 0, 0.72) 84%,
    rgba(0, 0, 0, 1) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 0%,
    rgba(245, 245, 245, 0) 34%,
    rgba(244, 244, 244, 0.03) 36%,
    rgba(0, 0, 0, 0.39) 61%,
    rgba(0, 0, 0, 0.72) 84%,
    rgba(0, 0, 0, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    rgba(245, 245, 245, 0) 34%,
    rgba(244, 244, 244, 0.03) 36%,
    rgba(0, 0, 0, 0.39) 61%,
    rgba(0, 0, 0, 0.72) 84%,
    rgba(0, 0, 0, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000', GradientType=0 );
}

@media only screen and (max-width: 767px) {
  .are_post img {
    object-fit: cover;
    object-position: center;
    height: 180px;
    width: 100%;
  }
}

.are_post h5 > a {
  color: #ebcc43 !important;
}
.are_post h5 > a:hover,
a:focus {
  text-decoration: none !important;
  color: #c2a836 !important;
}

.capitulo_are {
  position: relative;
  z-index: 10;
  justify-content: center;
  display: flex;
}

.dflex {
  display: flex;
  flex-direction: column;
  flex: auto;
  margin-bottom: 0.5rem;
  padding: 10px;
}

.init_bg {
  position: absolute;
  z-index: 99;
  background-color: rgba(10, 10, 10, 0.6);
}
@media only screen and (max-width: 767px) {
  .init_bg {
    position: relative;
    z-index: 99;
    background-color: rgba(10, 10, 10, 0.6);
  }
}
.vw100_are {
  width: 100vw;
}
/* .are_grid {
  margin-top: -20%;
}
@media screen and (max-width: 1920px) {
  .are_grid {
    margin-top: -20%;
  }
}
@media screen and (max-width: 1650px) {
  .are_grid {
    margin-top: -15%;
  }
}
@media screen and (max-width: 1366px) {
  .are_grid {
    margin-top: -15%;
  }
}
@media screen and (max-width: 1024px) {
  .are_grid {
    margin-top: -10%;
  }
}
@media screen and (max-width: 1000px) {
  .are_grid {
    margin-top: 1px;
  }
} */

.are_nav_t {
  text-shadow: 0px 0px #4b00c9;
}

.capitulo_are .are_icon_c {
  position: absolute;
  font-size: 50px;
  text-align: center;
  vertical-align: middle;
  opacity: 0;
  transition: 0.2s;
  top: 35px;
}

.capitulo_are:hover .are_icon_c {
  transition: 0.2s;
  opacity: 1;
  top: 35px;
  z-index: 99;
  color: #ebcc43;
}

.capitulo_are:hover img {
  transition: 0.2s;
  backface-visibility: hidden;
  z-index: -1;
  transform: scale(1.2);
}

.capitulo_are:hover h5 {
  font-size: 1.2rem;
  transition: 0.2s;
  backface-visibility: hidden;
  transform: scale(1);
}

a p.a_description {
  position: absolute;
  opacity: 0;
}

a:hover > .a_description {
  opacity: 1;
  transition: 0.2s;
  color: #fff !important;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
}
a:hover {
  text-decoration: none !important;
}
.are_bg_init {
  position: relative;
  opacity: 1;
}

.are_bg_init > * {
  z-index: 100;
}
.are_bg_init::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  background: rgba(34, 34, 34, 0.2);
  background: -moz-linear-gradient(
    top,
    rgba(34, 34, 34, 0.2) 0%,
    rgba(34, 34, 34, 0.2) 78%,
    rgba(34, 34, 34, 1) 95%,
    rgba(34, 34, 34, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0%, rgba(34, 34, 34, 0.2)),
    color-stop(78%, rgba(34, 34, 34, 0.2)),
    color-stop(95%, rgba(34, 34, 34, 1)),
    color-stop(100%, rgba(34, 34, 34, 1))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(34, 34, 34, 0.2) 0%,
    rgba(34, 34, 34, 0.2) 78%,
    rgba(34, 34, 34, 1) 95%,
    rgba(34, 34, 34, 1) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(34, 34, 34, 0.2) 0%,
    rgba(34, 34, 34, 0.2) 78%,
    rgba(34, 34, 34, 1) 95%,
    rgba(34, 34, 34, 1) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(34, 34, 34, 0.2) 0%,
    rgba(34, 34, 34, 0.2) 78%,
    rgba(34, 34, 34, 1) 95%,
    rgba(34, 34, 34, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(34, 34, 34, 0.2) 0%,
    rgba(34, 34, 34, 0.2) 78%,
    rgba(34, 34, 34, 1) 95%,
    rgba(34, 34, 34, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222222', endColorstr='#222222', GradientType=0 );
}

.are_post:hover .date_are_n {
  transition: 0.2s;
  transform: translate(0px, -50px);
  opacity: 0;
}

.are_s_title {
  position: relative;
  left: 5px;
  z-index: 10;
  margin-bottom: 0 !important;
  color: #ebcc43;
}

.are_info_s {
  position: absolute;
  bottom: 0px;
  background-color: #222222df;
  width: 100%;
}

/* AQUI VA EL LOADER */

#page-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: #222 none repeat scroll 0% 0%;
  z-index: 99999;
}
#page-loader .preloader-interior {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #ebcc43;

  -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
#page-loader .preloader-interior:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #8501ff;

  -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#page-loader .preloader-interior:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #ebcc43;

  -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg); /* IE 9 */
    transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg); /* IE 9 */
    transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg); /* IE 9 */
    transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg); /* IE 9 */
    transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */
  }
}

.morecontent span {
  display: none;
  color: #fff;
}
.morelink {
  display: block;
  color: #fff;
}
/* The alert message box */
.alert {
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}

.vistas-cap-badge {
  color: #ebcc43c4 !important;
  margin-bottom: 0 !important;
  font-size: 0.8rem !important;
}

.are-h5 {
  font-size: 1rem !important;
  margin-bottom: 0 !important;
  white-space: nowrap;
  font-weight: bold !important;
}

.cap-badge {
  position: relative !important;
  color: #ebcc43c4 !important;
  font-size: 0.8rem !important;
  margin-bottom: 0 !important;
}

.badge-are {
  color: #ebcc43c4;
  transition: 0.2s;
  top: auto;
  opacity: 1;
}
.badge-are-c {
  color: #f1f1f1;
  background-color: #0d964a;
  transition: 0.2s;
  top: auto;
  opacity: 1;
}
.capitulo_are:hover .badge-are {
  transition: 0.2s;
  opacity: 1;
}
.are-are {
  color: #ebcc43 !important;
  border-bottom: 1px solid #ebcc43;
}

.are-are h1 {
  color: #ebcc43 !important;
}
@media only screen and (min-width: 575px) {
  .bebi-are {
    display: none;
  }
}

.text-are {
  color: #ebcc43 !important;
}
@media only screen and (max-width: 767px) {
  .navbar-fixed-are {
    position: fixed !important;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
    background-color: #222;
  }
}
.text-navbar-are {
  font-size: 1.1rem !important;
}
@media only screen and (max-width: 757px) {
  .text-navbar-are {
    font-size: 0.9rem !important;
  }
}
.icon-navbar-are {
  font-size: 1.1rem !important;
}
@media only screen and (max-width: 757px) {
  .icon-navbar-are {
    font-size: 1.3rem !important;
  }
}
