#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1564px 101px #fff, 499px 585px #fff, 1679px 1858px #fff,
    995px 637px #fff, 1108px 377px #fff, 1868px 870px #fff, 1647px 1161px #fff,
    999px 695px #fff, 1122px 261px #fff, 835px 1960px #fff, 1226px 1245px #fff,
    212px 1531px #fff, 1610px 503px #fff, 234px 1585px #fff, 1770px 768px #fff,
    1081px 214px #fff, 1421px 1479px #fff, 1592px 1957px #fff, 42px 1405px #fff,
    939px 177px #fff, 91px 1504px #fff, 1643px 1922px #fff, 1311px 1659px #fff,
    1885px 1643px #fff, 1135px 521px #fff, 1151px 1609px #fff, 312px 1272px #fff,
    843px 211px #fff, 671px 1492px #fff, 1488px 1107px #fff, 328px 1451px #fff,
    1169px 47px #fff, 1744px 1109px #fff, 821px 1056px #fff, 554px 1048px #fff,
    1385px 369px #fff, 633px 25px #fff, 461px 1465px #fff, 1296px 1216px #fff,
    310px 1020px #fff, 204px 300px #fff, 312px 576px #fff, 1671px 786px #fff,
    1824px 164px #fff, 812px 422px #fff, 709px 1419px #fff, 142px 644px #fff,
    449px 1960px #fff, 967px 240px #fff, 1758px 1369px #fff, 1508px 1882px #fff,
    1347px 1588px #fff, 1418px 1140px #fff, 1595px 646px #fff, 1160px 98px #fff,
    901px 1281px #fff, 77px 891px #fff, 1643px 1321px #fff, 1456px 1224px #fff,
    775px 775px #fff, 621px 1131px #fff, 823px 139px #fff, 1061px 1518px #fff,
    833px 950px #fff, 840px 903px #fff, 422px 1013px #fff, 293px 1713px #fff,
    1511px 1294px #fff, 389px 616px #fff, 752px 1665px #fff, 51px 734px #fff,
    62px 1336px #fff, 346px 1193px #fff, 150px 1605px #fff, 1306px 881px #fff,
    341px 1555px #fff, 202px 933px #fff, 1336px 1686px #fff, 910px 1884px #fff,
    675px 1463px #fff, 370px 1030px #fff, 920px 114px #fff, 589px 491px #fff,
    988px 1769px #fff, 826px 196px #fff, 1779px 588px #fff, 1795px 1482px #fff,
    1527px 539px #fff, 599px 1871px #fff, 925px 1215px #fff, 183px 1785px #fff,
    1183px 1446px #fff, 69px 908px #fff, 1487px 1634px #fff, 850px 1143px #fff,
    1259px 148px #fff, 1537px 1633px #fff, 1327px 217px #fff, 1490px 1798px #fff,
    1716px 504px #fff, 1614px 1976px #fff, 241px 720px #fff, 346px 193px #fff,
    1374px 1565px #fff, 1885px 1411px #fff, 1126px 1550px #fff,
    1783px 1801px #fff, 1586px 1421px #fff, 643px 1349px #fff, 180px 621px #fff,
    1012px 1171px #fff, 270px 1690px #fff, 371px 1374px #fff, 610px 229px #fff,
    1969px 1083px #fff, 1733px 1243px #fff, 1738px 706px #fff, 91px 1723px #fff,
    1719px 922px #fff, 379px 1927px #fff, 1612px 1304px #fff, 1106px 548px #fff,
    896px 557px #fff, 1668px 1445px #fff, 651px 1987px #fff, 513px 1688px #fff,
    1887px 1884px #fff, 1524px 1540px #fff, 464px 586px #fff, 72px 188px #fff,
    406px 1549px #fff, 1060px 1731px #fff, 391px 720px #fff, 258px 1572px #fff,
    798px 388px #fff, 303px 10px #fff, 37px 1295px #fff, 509px 593px #fff,
    1497px 830px #fff, 1908px 417px #fff, 400px 884px #fff, 1893px 1940px #fff,
    594px 1173px #fff, 285px 484px #fff, 1879px 776px #fff, 125px 1434px #fff,
    1056px 1744px #fff, 1338px 1550px #fff, 1098px 754px #fff, 1199px 193px #fff,
    1538px 1757px #fff, 1119px 587px #fff, 137px 1223px #fff, 499px 1609px #fff,
    1883px 530px #fff, 692px 394px #fff, 448px 1381px #fff, 140px 1333px #fff,
    613px 1100px #fff, 1897px 492px #fff, 860px 36px #fff, 936px 47px #fff,
    71px 1706px #fff, 748px 260px #fff, 1830px 1697px #fff, 1081px 551px #fff,
    396px 1764px #fff, 1376px 1636px #fff, 1068px 994px #fff, 1823px 1546px #fff,
    1153px 921px #fff, 457px 406px #fff, 1562px 702px #fff, 844px 1451px #fff,
    652px 1461px #fff, 1662px 1353px #fff, 1690px 1135px #fff,
    1203px 1602px #fff, 47px 1227px #fff, 277px 732px #fff, 1512px 1473px #fff,
    1567px 1241px #fff, 1343px 1995px #fff, 874px 599px #fff, 438px 119px #fff,
    115px 456px #fff, 1285px 1863px #fff, 587px 1991px #fff, 975px 775px #fff,
    1713px 1572px #fff, 1622px 839px #fff, 1766px 748px #fff, 181px 1566px #fff,
    235px 1014px #fff, 491px 364px #fff, 1209px 1114px #fff, 1232px 767px #fff,
    1060px 47px #fff, 1659px 1571px #fff, 1077px 173px #fff, 190px 1px #fff,
    1517px 1262px #fff, 224px 191px #fff, 170px 1278px #fff, 1284px 724px #fff,
    1295px 320px #fff, 704px 694px #fff, 770px 1790px #fff, 1656px 211px #fff,
    745px 1222px #fff, 1133px 1231px #fff, 171px 699px #fff, 1812px 1631px #fff,
    53px 196px #fff, 13px 1990px #fff, 1920px 1898px #fff, 909px 707px #fff,
    955px 1154px #fff, 1766px 1200px #fff, 1174px 375px #fff, 451px 1247px #fff,
    620px 82px #fff, 169px 334px #fff, 416px 1158px #fff, 371px 1467px #fff,
    1346px 333px #fff, 1983px 1997px #fff, 785px 1918px #fff, 534px 171px #fff,
    645px 1630px #fff, 1737px 856px #fff, 42px 1022px #fff, 1079px 1248px #fff,
    793px 1009px #fff, 1737px 1853px #fff, 1552px 1010px #fff, 740px 160px #fff,
    575px 1694px #fff, 1067px 1662px #fff, 1647px 191px #fff, 280px 129px #fff,
    592px 1190px #fff, 856px 1101px #fff, 988px 1086px #fff, 1198px 1425px #fff,
    1971px 1245px #fff, 229px 1072px #fff, 772px 1777px #fff, 428px 210px #fff,
    1355px 87px #fff, 886px 255px #fff, 781px 916px #fff, 1821px 710px #fff,
    1303px 333px #fff, 989px 728px #fff, 1421px 325px #fff, 185px 375px #fff,
    175px 806px #fff, 91px 72px #fff, 1854px 1407px #fff, 625px 568px #fff,
    1136px 727px #fff, 1886px 1773px #fff, 1673px 93px #fff, 1110px 1393px #fff,
    245px 277px #fff, 27px 461px #fff, 901px 656px #fff, 1441px 1809px #fff,
    627px 1333px #fff, 1378px 1300px #fff, 747px 1084px #fff, 1509px 100px #fff,
    121px 1865px #fff, 1758px 208px #fff, 458px 490px #fff, 520px 104px #fff,
    499px 1469px #fff, 1392px 1686px #fff, 1666px 265px #fff, 635px 72px #fff,
    1725px 378px #fff, 1161px 1728px #fff, 1070px 335px #fff, 355px 734px #fff,
    450px 1440px #fff, 776px 1246px #fff, 786px 710px #fff, 1141px 602px #fff,
    430px 267px #fff, 891px 1512px #fff, 356px 1533px #fff, 1607px 1869px #fff,
    595px 623px #fff, 1482px 1640px #fff, 151px 272px #fff, 784px 1956px #fff,
    443px 1269px #fff, 207px 404px #fff, 306px 1780px #fff, 1990px 1526px #fff,
    110px 1139px #fff, 1107px 1751px #fff, 1660px 1358px #fff, 1580px 486px #fff,
    815px 1102px #fff, 298px 1226px #fff, 438px 1421px #fff, 1313px 1112px #fff,
    1085px 506px #fff, 621px 37px #fff, 584px 859px #fff, 1341px 1166px #fff,
    418px 1341px #fff, 269px 912px #fff, 1563px 435px #fff, 1690px 449px #fff,
    641px 1920px #fff, 1702px 1112px #fff, 982px 910px #fff, 1825px 1680px #fff,
    978px 313px #fff, 577px 1281px #fff, 1796px 495px #fff, 926px 856px #fff,
    1915px 1377px #fff, 794px 429px #fff, 407px 633px #fff, 1157px 232px #fff,
    352px 830px #fff, 1559px 851px #fff, 1509px 1741px #fff, 836px 1221px #fff,
    1557px 1381px #fff, 1649px 932px #fff, 910px 78px #fff, 644px 1862px #fff,
    1062px 447px #fff, 820px 375px #fff, 967px 55px #fff, 1095px 157px #fff,
    1558px 186px #fff, 9px 1104px #fff, 208px 308px #fff, 1821px 1304px #fff,
    1804px 1063px #fff, 1705px 112px #fff, 1183px 1554px #fff,
    1761px 1445px #fff, 1419px 872px #fff, 1813px 838px #fff, 263px 1894px #fff,
    1529px 1686px #fff, 1651px 493px #fff, 1857px 812px #fff, 135px 1371px #fff,
    152px 229px #fff, 1110px 1888px #fff, 1636px 895px #fff, 243px 1514px #fff,
    1203px 1240px #fff, 103px 1027px #fff, 54px 533px #fff, 1486px 1442px #fff,
    1657px 1147px #fff, 1653px 581px #fff, 1048px 1984px #fff, 1955px 969px #fff,
    57px 964px #fff, 64px 1334px #fff, 1576px 748px #fff, 1298px 510px #fff,
    1556px 1844px #fff, 217px 525px #fff, 857px 602px #fff, 1575px 744px #fff,
    1823px 1959px #fff, 293px 972px #fff, 159px 735px #fff, 1435px 1889px #fff,
    1496px 1106px #fff, 1545px 1736px #fff, 439px 1838px #fff, 1001px 987px #fff,
    529px 1138px #fff, 1384px 771px #fff, 784px 860px #fff, 12px 559px #fff,
    569px 207px #fff, 1974px 1117px #fff, 974px 129px #fff, 1271px 1289px #fff,
    450px 585px #fff, 1489px 1586px #fff, 268px 1511px #fff, 768px 161px #fff,
    1960px 1413px #fff, 447px 802px #fff, 1732px 1424px #fff, 1px 505px #fff,
    976px 1648px #fff, 1639px 1574px #fff, 665px 1219px #fff, 1142px 1919px #fff,
    112px 1051px #fff, 709px 456px #fff, 311px 885px #fff, 463px 1624px #fff,
    266px 823px #fff, 1630px 1284px #fff, 1010px 1793px #fff, 1719px 24px #fff,
    876px 1058px #fff, 1108px 1032px #fff, 680px 537px #fff, 1515px 503px #fff,
    1474px 656px #fff, 897px 1947px #fff, 377px 737px #fff, 1331px 778px #fff,
    911px 1745px #fff, 1262px 630px #fff, 120px 1685px #fff, 1645px 1512px #fff,
    1208px 51px #fff, 1979px 1750px #fff, 1687px 560px #fff, 1058px 871px #fff,
    1720px 1919px #fff, 1276px 1014px #fff, 1976px 104px #fff, 738px 1047px #fff,
    189px 115px #fff, 1961px 559px #fff, 245px 467px #fff, 1942px 1393px #fff,
    329px 1660px #fff, 1351px 1750px #fff, 1612px 185px #fff, 1025px 125px #fff,
    175px 1643px #fff, 1711px 24px #fff, 15px 1276px #fff, 656px 856px #fff,
    229px 1382px #fff, 1500px 1770px #fff, 1781px 82px #fff, 599px 118px #fff,
    1264px 920px #fff, 1966px 1483px #fff, 1476px 1548px #fff,
    1330px 1164px #fff, 24px 1654px #fff, 514px 1037px #fff, 1719px 1017px #fff,
    1989px 1762px #fff, 1565px 1269px #fff, 1608px 473px #fff,
    1274px 1384px #fff, 275px 634px #fff, 1143px 89px #fff, 665px 1852px #fff,
    1730px 473px #fff, 553px 34px #fff, 336px 1566px #fff, 281px 1972px #fff,
    1289px 21px #fff, 155px 357px #fff, 1158px 351px #fff, 1073px 1682px #fff,
    1301px 1589px #fff, 217px 1124px #fff, 1495px 58px #fff, 1737px 824px #fff,
    829px 1977px #fff, 162px 921px #fff, 1684px 1215px #fff, 1134px 962px #fff,
    236px 411px #fff, 1595px 1782px #fff, 785px 193px #fff, 1937px 1336px #fff,
    1049px 181px #fff, 1446px 1932px #fff, 304px 989px #fff, 317px 37px #fff,
    673px 985px #fff, 1517px 217px #fff, 718px 975px #fff, 763px 395px #fff,
    747px 1005px #fff, 1325px 1471px #fff, 998px 1918px #fff, 1434px 235px #fff,
    1608px 648px #fff, 606px 776px #fff, 1302px 1767px #fff, 958px 1414px #fff,
    96px 15px #fff, 1865px 1365px #fff, 1446px 783px #fff, 361px 510px #fff,
    1775px 13px #fff, 1929px 1616px #fff, 1719px 1303px #fff, 1469px 706px #fff,
    1649px 401px #fff, 1458px 424px #fff, 796px 820px #fff, 1365px 681px #fff,
    607px 1847px #fff, 241px 650px #fff, 952px 1463px #fff, 1379px 724px #fff,
    1965px 1234px #fff, 773px 806px #fff, 1549px 303px #fff, 315px 653px #fff,
    1780px 1379px #fff, 691px 1070px #fff, 37px 48px #fff, 384px 975px #fff,
    150px 215px #fff, 1698px 1889px #fff, 821px 1721px #fff, 1385px 214px #fff,
    1317px 275px #fff, 592px 299px #fff, 769px 1590px #fff, 1826px 1316px #fff,
    466px 516px #fff, 1374px 524px #fff, 1875px 1837px #fff, 553px 689px #fff,
    961px 1001px #fff, 1535px 122px #fff, 292px 1636px #fff, 1717px 1100px #fff,
    180px 1147px #fff, 893px 1335px #fff, 590px 71px #fff, 1779px 358px #fff,
    1932px 1757px #fff, 119px 1313px #fff, 1479px 1176px #fff, 1993px 625px #fff,
    85px 1378px #fff, 1524px 783px #fff, 1420px 600px #fff, 87px 892px #fff,
    742px 868px #fff, 1994px 1319px #fff, 322px 528px #fff, 506px 489px #fff,
    1701px 1893px #fff, 858px 695px #fff, 1156px 1077px #fff, 740px 1684px #fff,
    1380px 375px #fff, 356px 1273px #fff, 1274px 90px #fff, 164px 191px #fff,
    1969px 710px #fff, 290px 1554px #fff, 1409px 1380px #fff, 1546px 473px #fff,
    724px 1447px #fff, 955px 1319px #fff, 984px 1774px #fff, 407px 1785px #fff,
    1523px 1571px #fff, 1130px 1933px #fff, 402px 614px #fff, 1446px 397px #fff,
    1810px 65px #fff, 110px 1002px #fff, 1336px 1561px #fff, 145px 770px #fff,
    750px 1181px #fff, 124px 948px #fff, 1101px 955px #fff, 1637px 502px #fff,
    1094px 662px #fff, 985px 186px #fff, 1102px 1973px #fff, 865px 1885px #fff,
    1155px 328px #fff, 723px 1782px #fff, 449px 519px #fff, 1153px 551px #fff,
    6px 1218px #fff, 137px 662px #fff, 1949px 1638px #fff, 1144px 381px #fff,
    1347px 1752px #fff, 885px 28px #fff, 1725px 960px #fff, 1589px 1177px #fff,
    1117px 55px #fff, 1541px 1202px #fff, 340px 82px #fff, 210px 856px #fff,
    1134px 1264px #fff, 839px 721px #fff, 98px 214px #fff, 1626px 1983px #fff,
    202px 1880px #fff, 1635px 1039px #fff, 147px 1474px #fff, 362px 1269px #fff,
    106px 769px #fff, 1710px 1688px #fff, 107px 1883px #fff, 1990px 1069px #fff,
    478px 1644px #fff, 446px 183px #fff, 1560px 803px #fff, 1132px 1150px #fff,
    402px 18px #fff, 1322px 1892px #fff, 1450px 1434px #fff, 925px 1706px #fff,
    1119px 1030px #fff, 1248px 250px #fff, 1507px 1532px #fff, 622px 1382px #fff,
    890px 41px #fff, 193px 1382px #fff, 814px 1341px #fff, 437px 519px #fff,
    543px 517px #fff, 1486px 236px #fff, 1339px 613px #fff, 1607px 36px #fff,
    1546px 1757px #fff, 920px 1993px #fff, 381px 1883px #fff, 833px 1124px #fff,
    1323px 1604px #fff, 1062px 1912px #fff, 1042px 1710px #fff, 284px 172px #fff,
    734px 1518px #fff, 1446px 1899px #fff, 1382px 666px #fff, 1349px 965px #fff,
    817px 1295px #fff, 1606px 1744px #fff, 435px 1404px #fff, 1170px 515px #fff,
    1805px 921px #fff, 662px 967px #fff, 1552px 879px #fff, 1726px 1752px #fff,
    1597px 72px #fff, 931px 494px #fff, 231px 1749px #fff, 861px 40px #fff,
    1430px 484px #fff, 1479px 34px #fff, 473px 1701px #fff, 928px 222px #fff,
    1809px 1387px #fff, 1256px 1144px #fff, 673px 82px #fff, 660px 782px #fff,
    72px 1799px #fff, 884px 374px #fff, 1839px 631px #fff, 1605px 1220px #fff,
    1711px 560px #fff, 1729px 1172px #fff, 1476px 1442px #fff, 1713px 386px #fff,
    618px 1833px #fff, 1980px 1352px #fff, 1346px 587px #fff, 1291px 152px #fff,
    1079px 68px #fff, 519px 1016px #fff, 1200px 1330px #fff, 1962px 82px #fff,
    928px 1676px #fff, 1085px 893px #fff, 843px 1674px #fff, 871px 619px #fff,
    179px 807px #fff, 1619px 758px #fff, 1483px 1045px #fff, 653px 1869px #fff,
    1667px 860px #fff, 306px 1788px #fff, 452px 493px #fff, 1578px 1331px #fff,
    872px 912px #fff, 919px 1634px #fff, 42px 888px #fff, 734px 862px #fff,
    478px 2000px #fff, 1549px 1291px #fff;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1564px 101px #fff, 499px 585px #fff, 1679px 1858px #fff,
    995px 637px #fff, 1108px 377px #fff, 1868px 870px #fff, 1647px 1161px #fff,
    999px 695px #fff, 1122px 261px #fff, 835px 1960px #fff, 1226px 1245px #fff,
    212px 1531px #fff, 1610px 503px #fff, 234px 1585px #fff, 1770px 768px #fff,
    1081px 214px #fff, 1421px 1479px #fff, 1592px 1957px #fff, 42px 1405px #fff,
    939px 177px #fff, 91px 1504px #fff, 1643px 1922px #fff, 1311px 1659px #fff,
    1885px 1643px #fff, 1135px 521px #fff, 1151px 1609px #fff, 312px 1272px #fff,
    843px 211px #fff, 671px 1492px #fff, 1488px 1107px #fff, 328px 1451px #fff,
    1169px 47px #fff, 1744px 1109px #fff, 821px 1056px #fff, 554px 1048px #fff,
    1385px 369px #fff, 633px 25px #fff, 461px 1465px #fff, 1296px 1216px #fff,
    310px 1020px #fff, 204px 300px #fff, 312px 576px #fff, 1671px 786px #fff,
    1824px 164px #fff, 812px 422px #fff, 709px 1419px #fff, 142px 644px #fff,
    449px 1960px #fff, 967px 240px #fff, 1758px 1369px #fff, 1508px 1882px #fff,
    1347px 1588px #fff, 1418px 1140px #fff, 1595px 646px #fff, 1160px 98px #fff,
    901px 1281px #fff, 77px 891px #fff, 1643px 1321px #fff, 1456px 1224px #fff,
    775px 775px #fff, 621px 1131px #fff, 823px 139px #fff, 1061px 1518px #fff,
    833px 950px #fff, 840px 903px #fff, 422px 1013px #fff, 293px 1713px #fff,
    1511px 1294px #fff, 389px 616px #fff, 752px 1665px #fff, 51px 734px #fff,
    62px 1336px #fff, 346px 1193px #fff, 150px 1605px #fff, 1306px 881px #fff,
    341px 1555px #fff, 202px 933px #fff, 1336px 1686px #fff, 910px 1884px #fff,
    675px 1463px #fff, 370px 1030px #fff, 920px 114px #fff, 589px 491px #fff,
    988px 1769px #fff, 826px 196px #fff, 1779px 588px #fff, 1795px 1482px #fff,
    1527px 539px #fff, 599px 1871px #fff, 925px 1215px #fff, 183px 1785px #fff,
    1183px 1446px #fff, 69px 908px #fff, 1487px 1634px #fff, 850px 1143px #fff,
    1259px 148px #fff, 1537px 1633px #fff, 1327px 217px #fff, 1490px 1798px #fff,
    1716px 504px #fff, 1614px 1976px #fff, 241px 720px #fff, 346px 193px #fff,
    1374px 1565px #fff, 1885px 1411px #fff, 1126px 1550px #fff,
    1783px 1801px #fff, 1586px 1421px #fff, 643px 1349px #fff, 180px 621px #fff,
    1012px 1171px #fff, 270px 1690px #fff, 371px 1374px #fff, 610px 229px #fff,
    1969px 1083px #fff, 1733px 1243px #fff, 1738px 706px #fff, 91px 1723px #fff,
    1719px 922px #fff, 379px 1927px #fff, 1612px 1304px #fff, 1106px 548px #fff,
    896px 557px #fff, 1668px 1445px #fff, 651px 1987px #fff, 513px 1688px #fff,
    1887px 1884px #fff, 1524px 1540px #fff, 464px 586px #fff, 72px 188px #fff,
    406px 1549px #fff, 1060px 1731px #fff, 391px 720px #fff, 258px 1572px #fff,
    798px 388px #fff, 303px 10px #fff, 37px 1295px #fff, 509px 593px #fff,
    1497px 830px #fff, 1908px 417px #fff, 400px 884px #fff, 1893px 1940px #fff,
    594px 1173px #fff, 285px 484px #fff, 1879px 776px #fff, 125px 1434px #fff,
    1056px 1744px #fff, 1338px 1550px #fff, 1098px 754px #fff, 1199px 193px #fff,
    1538px 1757px #fff, 1119px 587px #fff, 137px 1223px #fff, 499px 1609px #fff,
    1883px 530px #fff, 692px 394px #fff, 448px 1381px #fff, 140px 1333px #fff,
    613px 1100px #fff, 1897px 492px #fff, 860px 36px #fff, 936px 47px #fff,
    71px 1706px #fff, 748px 260px #fff, 1830px 1697px #fff, 1081px 551px #fff,
    396px 1764px #fff, 1376px 1636px #fff, 1068px 994px #fff, 1823px 1546px #fff,
    1153px 921px #fff, 457px 406px #fff, 1562px 702px #fff, 844px 1451px #fff,
    652px 1461px #fff, 1662px 1353px #fff, 1690px 1135px #fff,
    1203px 1602px #fff, 47px 1227px #fff, 277px 732px #fff, 1512px 1473px #fff,
    1567px 1241px #fff, 1343px 1995px #fff, 874px 599px #fff, 438px 119px #fff,
    115px 456px #fff, 1285px 1863px #fff, 587px 1991px #fff, 975px 775px #fff,
    1713px 1572px #fff, 1622px 839px #fff, 1766px 748px #fff, 181px 1566px #fff,
    235px 1014px #fff, 491px 364px #fff, 1209px 1114px #fff, 1232px 767px #fff,
    1060px 47px #fff, 1659px 1571px #fff, 1077px 173px #fff, 190px 1px #fff,
    1517px 1262px #fff, 224px 191px #fff, 170px 1278px #fff, 1284px 724px #fff,
    1295px 320px #fff, 704px 694px #fff, 770px 1790px #fff, 1656px 211px #fff,
    745px 1222px #fff, 1133px 1231px #fff, 171px 699px #fff, 1812px 1631px #fff,
    53px 196px #fff, 13px 1990px #fff, 1920px 1898px #fff, 909px 707px #fff,
    955px 1154px #fff, 1766px 1200px #fff, 1174px 375px #fff, 451px 1247px #fff,
    620px 82px #fff, 169px 334px #fff, 416px 1158px #fff, 371px 1467px #fff,
    1346px 333px #fff, 1983px 1997px #fff, 785px 1918px #fff, 534px 171px #fff,
    645px 1630px #fff, 1737px 856px #fff, 42px 1022px #fff, 1079px 1248px #fff,
    793px 1009px #fff, 1737px 1853px #fff, 1552px 1010px #fff, 740px 160px #fff,
    575px 1694px #fff, 1067px 1662px #fff, 1647px 191px #fff, 280px 129px #fff,
    592px 1190px #fff, 856px 1101px #fff, 988px 1086px #fff, 1198px 1425px #fff,
    1971px 1245px #fff, 229px 1072px #fff, 772px 1777px #fff, 428px 210px #fff,
    1355px 87px #fff, 886px 255px #fff, 781px 916px #fff, 1821px 710px #fff,
    1303px 333px #fff, 989px 728px #fff, 1421px 325px #fff, 185px 375px #fff,
    175px 806px #fff, 91px 72px #fff, 1854px 1407px #fff, 625px 568px #fff,
    1136px 727px #fff, 1886px 1773px #fff, 1673px 93px #fff, 1110px 1393px #fff,
    245px 277px #fff, 27px 461px #fff, 901px 656px #fff, 1441px 1809px #fff,
    627px 1333px #fff, 1378px 1300px #fff, 747px 1084px #fff, 1509px 100px #fff,
    121px 1865px #fff, 1758px 208px #fff, 458px 490px #fff, 520px 104px #fff,
    499px 1469px #fff, 1392px 1686px #fff, 1666px 265px #fff, 635px 72px #fff,
    1725px 378px #fff, 1161px 1728px #fff, 1070px 335px #fff, 355px 734px #fff,
    450px 1440px #fff, 776px 1246px #fff, 786px 710px #fff, 1141px 602px #fff,
    430px 267px #fff, 891px 1512px #fff, 356px 1533px #fff, 1607px 1869px #fff,
    595px 623px #fff, 1482px 1640px #fff, 151px 272px #fff, 784px 1956px #fff,
    443px 1269px #fff, 207px 404px #fff, 306px 1780px #fff, 1990px 1526px #fff,
    110px 1139px #fff, 1107px 1751px #fff, 1660px 1358px #fff, 1580px 486px #fff,
    815px 1102px #fff, 298px 1226px #fff, 438px 1421px #fff, 1313px 1112px #fff,
    1085px 506px #fff, 621px 37px #fff, 584px 859px #fff, 1341px 1166px #fff,
    418px 1341px #fff, 269px 912px #fff, 1563px 435px #fff, 1690px 449px #fff,
    641px 1920px #fff, 1702px 1112px #fff, 982px 910px #fff, 1825px 1680px #fff,
    978px 313px #fff, 577px 1281px #fff, 1796px 495px #fff, 926px 856px #fff,
    1915px 1377px #fff, 794px 429px #fff, 407px 633px #fff, 1157px 232px #fff,
    352px 830px #fff, 1559px 851px #fff, 1509px 1741px #fff, 836px 1221px #fff,
    1557px 1381px #fff, 1649px 932px #fff, 910px 78px #fff, 644px 1862px #fff,
    1062px 447px #fff, 820px 375px #fff, 967px 55px #fff, 1095px 157px #fff,
    1558px 186px #fff, 9px 1104px #fff, 208px 308px #fff, 1821px 1304px #fff,
    1804px 1063px #fff, 1705px 112px #fff, 1183px 1554px #fff,
    1761px 1445px #fff, 1419px 872px #fff, 1813px 838px #fff, 263px 1894px #fff,
    1529px 1686px #fff, 1651px 493px #fff, 1857px 812px #fff, 135px 1371px #fff,
    152px 229px #fff, 1110px 1888px #fff, 1636px 895px #fff, 243px 1514px #fff,
    1203px 1240px #fff, 103px 1027px #fff, 54px 533px #fff, 1486px 1442px #fff,
    1657px 1147px #fff, 1653px 581px #fff, 1048px 1984px #fff, 1955px 969px #fff,
    57px 964px #fff, 64px 1334px #fff, 1576px 748px #fff, 1298px 510px #fff,
    1556px 1844px #fff, 217px 525px #fff, 857px 602px #fff, 1575px 744px #fff,
    1823px 1959px #fff, 293px 972px #fff, 159px 735px #fff, 1435px 1889px #fff,
    1496px 1106px #fff, 1545px 1736px #fff, 439px 1838px #fff, 1001px 987px #fff,
    529px 1138px #fff, 1384px 771px #fff, 784px 860px #fff, 12px 559px #fff,
    569px 207px #fff, 1974px 1117px #fff, 974px 129px #fff, 1271px 1289px #fff,
    450px 585px #fff, 1489px 1586px #fff, 268px 1511px #fff, 768px 161px #fff,
    1960px 1413px #fff, 447px 802px #fff, 1732px 1424px #fff, 1px 505px #fff,
    976px 1648px #fff, 1639px 1574px #fff, 665px 1219px #fff, 1142px 1919px #fff,
    112px 1051px #fff, 709px 456px #fff, 311px 885px #fff, 463px 1624px #fff,
    266px 823px #fff, 1630px 1284px #fff, 1010px 1793px #fff, 1719px 24px #fff,
    876px 1058px #fff, 1108px 1032px #fff, 680px 537px #fff, 1515px 503px #fff,
    1474px 656px #fff, 897px 1947px #fff, 377px 737px #fff, 1331px 778px #fff,
    911px 1745px #fff, 1262px 630px #fff, 120px 1685px #fff, 1645px 1512px #fff,
    1208px 51px #fff, 1979px 1750px #fff, 1687px 560px #fff, 1058px 871px #fff,
    1720px 1919px #fff, 1276px 1014px #fff, 1976px 104px #fff, 738px 1047px #fff,
    189px 115px #fff, 1961px 559px #fff, 245px 467px #fff, 1942px 1393px #fff,
    329px 1660px #fff, 1351px 1750px #fff, 1612px 185px #fff, 1025px 125px #fff,
    175px 1643px #fff, 1711px 24px #fff, 15px 1276px #fff, 656px 856px #fff,
    229px 1382px #fff, 1500px 1770px #fff, 1781px 82px #fff, 599px 118px #fff,
    1264px 920px #fff, 1966px 1483px #fff, 1476px 1548px #fff,
    1330px 1164px #fff, 24px 1654px #fff, 514px 1037px #fff, 1719px 1017px #fff,
    1989px 1762px #fff, 1565px 1269px #fff, 1608px 473px #fff,
    1274px 1384px #fff, 275px 634px #fff, 1143px 89px #fff, 665px 1852px #fff,
    1730px 473px #fff, 553px 34px #fff, 336px 1566px #fff, 281px 1972px #fff,
    1289px 21px #fff, 155px 357px #fff, 1158px 351px #fff, 1073px 1682px #fff,
    1301px 1589px #fff, 217px 1124px #fff, 1495px 58px #fff, 1737px 824px #fff,
    829px 1977px #fff, 162px 921px #fff, 1684px 1215px #fff, 1134px 962px #fff,
    236px 411px #fff, 1595px 1782px #fff, 785px 193px #fff, 1937px 1336px #fff,
    1049px 181px #fff, 1446px 1932px #fff, 304px 989px #fff, 317px 37px #fff,
    673px 985px #fff, 1517px 217px #fff, 718px 975px #fff, 763px 395px #fff,
    747px 1005px #fff, 1325px 1471px #fff, 998px 1918px #fff, 1434px 235px #fff,
    1608px 648px #fff, 606px 776px #fff, 1302px 1767px #fff, 958px 1414px #fff,
    96px 15px #fff, 1865px 1365px #fff, 1446px 783px #fff, 361px 510px #fff,
    1775px 13px #fff, 1929px 1616px #fff, 1719px 1303px #fff, 1469px 706px #fff,
    1649px 401px #fff, 1458px 424px #fff, 796px 820px #fff, 1365px 681px #fff,
    607px 1847px #fff, 241px 650px #fff, 952px 1463px #fff, 1379px 724px #fff,
    1965px 1234px #fff, 773px 806px #fff, 1549px 303px #fff, 315px 653px #fff,
    1780px 1379px #fff, 691px 1070px #fff, 37px 48px #fff, 384px 975px #fff,
    150px 215px #fff, 1698px 1889px #fff, 821px 1721px #fff, 1385px 214px #fff,
    1317px 275px #fff, 592px 299px #fff, 769px 1590px #fff, 1826px 1316px #fff,
    466px 516px #fff, 1374px 524px #fff, 1875px 1837px #fff, 553px 689px #fff,
    961px 1001px #fff, 1535px 122px #fff, 292px 1636px #fff, 1717px 1100px #fff,
    180px 1147px #fff, 893px 1335px #fff, 590px 71px #fff, 1779px 358px #fff,
    1932px 1757px #fff, 119px 1313px #fff, 1479px 1176px #fff, 1993px 625px #fff,
    85px 1378px #fff, 1524px 783px #fff, 1420px 600px #fff, 87px 892px #fff,
    742px 868px #fff, 1994px 1319px #fff, 322px 528px #fff, 506px 489px #fff,
    1701px 1893px #fff, 858px 695px #fff, 1156px 1077px #fff, 740px 1684px #fff,
    1380px 375px #fff, 356px 1273px #fff, 1274px 90px #fff, 164px 191px #fff,
    1969px 710px #fff, 290px 1554px #fff, 1409px 1380px #fff, 1546px 473px #fff,
    724px 1447px #fff, 955px 1319px #fff, 984px 1774px #fff, 407px 1785px #fff,
    1523px 1571px #fff, 1130px 1933px #fff, 402px 614px #fff, 1446px 397px #fff,
    1810px 65px #fff, 110px 1002px #fff, 1336px 1561px #fff, 145px 770px #fff,
    750px 1181px #fff, 124px 948px #fff, 1101px 955px #fff, 1637px 502px #fff,
    1094px 662px #fff, 985px 186px #fff, 1102px 1973px #fff, 865px 1885px #fff,
    1155px 328px #fff, 723px 1782px #fff, 449px 519px #fff, 1153px 551px #fff,
    6px 1218px #fff, 137px 662px #fff, 1949px 1638px #fff, 1144px 381px #fff,
    1347px 1752px #fff, 885px 28px #fff, 1725px 960px #fff, 1589px 1177px #fff,
    1117px 55px #fff, 1541px 1202px #fff, 340px 82px #fff, 210px 856px #fff,
    1134px 1264px #fff, 839px 721px #fff, 98px 214px #fff, 1626px 1983px #fff,
    202px 1880px #fff, 1635px 1039px #fff, 147px 1474px #fff, 362px 1269px #fff,
    106px 769px #fff, 1710px 1688px #fff, 107px 1883px #fff, 1990px 1069px #fff,
    478px 1644px #fff, 446px 183px #fff, 1560px 803px #fff, 1132px 1150px #fff,
    402px 18px #fff, 1322px 1892px #fff, 1450px 1434px #fff, 925px 1706px #fff,
    1119px 1030px #fff, 1248px 250px #fff, 1507px 1532px #fff, 622px 1382px #fff,
    890px 41px #fff, 193px 1382px #fff, 814px 1341px #fff, 437px 519px #fff,
    543px 517px #fff, 1486px 236px #fff, 1339px 613px #fff, 1607px 36px #fff,
    1546px 1757px #fff, 920px 1993px #fff, 381px 1883px #fff, 833px 1124px #fff,
    1323px 1604px #fff, 1062px 1912px #fff, 1042px 1710px #fff, 284px 172px #fff,
    734px 1518px #fff, 1446px 1899px #fff, 1382px 666px #fff, 1349px 965px #fff,
    817px 1295px #fff, 1606px 1744px #fff, 435px 1404px #fff, 1170px 515px #fff,
    1805px 921px #fff, 662px 967px #fff, 1552px 879px #fff, 1726px 1752px #fff,
    1597px 72px #fff, 931px 494px #fff, 231px 1749px #fff, 861px 40px #fff,
    1430px 484px #fff, 1479px 34px #fff, 473px 1701px #fff, 928px 222px #fff,
    1809px 1387px #fff, 1256px 1144px #fff, 673px 82px #fff, 660px 782px #fff,
    72px 1799px #fff, 884px 374px #fff, 1839px 631px #fff, 1605px 1220px #fff,
    1711px 560px #fff, 1729px 1172px #fff, 1476px 1442px #fff, 1713px 386px #fff,
    618px 1833px #fff, 1980px 1352px #fff, 1346px 587px #fff, 1291px 152px #fff,
    1079px 68px #fff, 519px 1016px #fff, 1200px 1330px #fff, 1962px 82px #fff,
    928px 1676px #fff, 1085px 893px #fff, 843px 1674px #fff, 871px 619px #fff,
    179px 807px #fff, 1619px 758px #fff, 1483px 1045px #fff, 653px 1869px #fff,
    1667px 860px #fff, 306px 1788px #fff, 452px 493px #fff, 1578px 1331px #fff,
    872px 912px #fff, 919px 1634px #fff, 42px 888px #fff, 734px 862px #fff,
    478px 2000px #fff, 1549px 1291px #fff;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1876px 1490px #fff, 1476px 1884px #fff, 234px 376px #fff,
    1671px 1700px #fff, 549px 944px #fff, 1464px 1448px #fff, 809px 530px #fff,
    1198px 461px #fff, 1770px 1217px #fff, 824px 378px #fff, 448px 1280px #fff,
    888px 439px #fff, 1629px 1982px #fff, 998px 1688px #fff, 518px 209px #fff,
    1400px 389px #fff, 490px 1549px #fff, 668px 1138px #fff, 1970px 106px #fff,
    177px 941px #fff, 1304px 122px #fff, 587px 803px #fff, 1664px 1130px #fff,
    354px 1911px #fff, 921px 1888px #fff, 47px 884px #fff, 1249px 974px #fff,
    1831px 336px #fff, 631px 571px #fff, 14px 930px #fff, 650px 273px #fff,
    1671px 913px #fff, 445px 556px #fff, 1187px 151px #fff, 97px 756px #fff,
    231px 841px #fff, 131px 1489px #fff, 133px 179px #fff, 1404px 25px #fff,
    260px 946px #fff, 1074px 297px #fff, 65px 191px #fff, 1998px 1325px #fff,
    1693px 820px #fff, 1918px 1764px #fff, 83px 1257px #fff, 181px 183px #fff,
    1528px 276px #fff, 410px 1278px #fff, 26px 104px #fff, 658px 1829px #fff,
    260px 510px #fff, 129px 1475px #fff, 721px 333px #fff, 1594px 1188px #fff,
    444px 911px #fff, 679px 370px #fff, 1773px 922px #fff, 1749px 368px #fff,
    1331px 281px #fff, 661px 656px #fff, 1938px 891px #fff, 1909px 1826px #fff,
    1461px 146px #fff, 937px 1770px #fff, 1616px 112px #fff, 593px 125px #fff,
    157px 293px #fff, 679px 340px #fff, 244px 181px #fff, 1222px 191px #fff,
    1630px 1774px #fff, 498px 773px #fff, 1266px 1148px #fff, 1350px 1978px #fff,
    1130px 1788px #fff, 1772px 1796px #fff, 1331px 1260px #fff,
    441px 1188px #fff, 1608px 1015px #fff, 1438px 1954px #fff, 975px 141px #fff,
    1172px 1748px #fff, 1519px 942px #fff, 287px 288px #fff, 1169px 545px #fff,
    779px 1826px #fff, 716px 801px #fff, 722px 1637px #fff, 75px 526px #fff,
    1401px 31px #fff, 173px 1905px #fff, 1713px 247px #fff, 1858px 1326px #fff,
    170px 1760px #fff, 860px 1383px #fff, 1692px 485px #fff, 101px 576px #fff,
    96px 419px #fff, 927px 1850px #fff, 68px 135px #fff, 1366px 1093px #fff,
    1337px 730px #fff, 851px 1203px #fff, 1756px 41px #fff, 492px 28px #fff,
    1231px 1030px #fff, 1926px 610px #fff, 435px 1466px #fff, 880px 516px #fff,
    813px 904px #fff, 493px 1225px #fff, 1471px 1234px #fff, 957px 851px #fff,
    904px 1694px #fff, 1613px 478px #fff, 1001px 830px #fff, 1856px 1604px #fff,
    200px 1463px #fff, 309px 992px #fff, 1122px 387px #fff, 1309px 1468px #fff,
    295px 449px #fff, 1484px 1076px #fff, 1182px 632px #fff, 1395px 972px #fff,
    1241px 449px #fff, 386px 901px #fff, 672px 628px #fff, 1679px 1630px #fff,
    1194px 737px #fff, 570px 1459px #fff, 817px 964px #fff, 1560px 759px #fff,
    1788px 848px #fff, 815px 865px #fff, 916px 1900px #fff, 1935px 1394px #fff,
    661px 1728px #fff, 896px 158px #fff, 1461px 163px #fff, 1086px 83px #fff,
    1577px 1668px #fff, 1275px 793px #fff, 1111px 1236px #fff, 660px 1373px #fff,
    920px 1333px #fff, 1389px 1930px #fff, 557px 1978px #fff, 416px 356px #fff,
    947px 1307px #fff, 1886px 856px #fff, 117px 941px #fff, 285px 1572px #fff,
    1948px 1590px #fff, 696px 664px #fff, 676px 783px #fff, 926px 1189px #fff,
    487px 1040px #fff, 90px 1490px #fff, 207px 478px #fff, 1512px 323px #fff,
    1954px 131px #fff, 1505px 1179px #fff, 783px 930px #fff, 1225px 256px #fff,
    1455px 528px #fff, 446px 1195px #fff, 1889px 921px #fff, 1469px 1794px #fff,
    101px 1993px #fff, 1941px 1324px #fff, 512px 375px #fff, 1755px 64px #fff,
    1947px 614px #fff, 1702px 114px #fff, 486px 962px #fff, 1804px 529px #fff,
    80px 1000px #fff, 329px 1363px #fff, 1479px 1506px #fff, 775px 519px #fff,
    85px 510px #fff, 32px 1901px #fff, 1663px 454px #fff, 1445px 747px #fff,
    425px 1548px #fff, 1736px 1780px #fff, 82px 1523px #fff, 1705px 1533px #fff,
    575px 1416px #fff, 401px 1516px #fff, 5px 988px #fff, 1154px 1555px #fff,
    683px 1472px #fff, 845px 1893px #fff, 111px 747px #fff, 479px 316px #fff,
    1345px 929px #fff, 226px 33px #fff;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1876px 1490px #fff, 1476px 1884px #fff, 234px 376px #fff,
    1671px 1700px #fff, 549px 944px #fff, 1464px 1448px #fff, 809px 530px #fff,
    1198px 461px #fff, 1770px 1217px #fff, 824px 378px #fff, 448px 1280px #fff,
    888px 439px #fff, 1629px 1982px #fff, 998px 1688px #fff, 518px 209px #fff,
    1400px 389px #fff, 490px 1549px #fff, 668px 1138px #fff, 1970px 106px #fff,
    177px 941px #fff, 1304px 122px #fff, 587px 803px #fff, 1664px 1130px #fff,
    354px 1911px #fff, 921px 1888px #fff, 47px 884px #fff, 1249px 974px #fff,
    1831px 336px #fff, 631px 571px #fff, 14px 930px #fff, 650px 273px #fff,
    1671px 913px #fff, 445px 556px #fff, 1187px 151px #fff, 97px 756px #fff,
    231px 841px #fff, 131px 1489px #fff, 133px 179px #fff, 1404px 25px #fff,
    260px 946px #fff, 1074px 297px #fff, 65px 191px #fff, 1998px 1325px #fff,
    1693px 820px #fff, 1918px 1764px #fff, 83px 1257px #fff, 181px 183px #fff,
    1528px 276px #fff, 410px 1278px #fff, 26px 104px #fff, 658px 1829px #fff,
    260px 510px #fff, 129px 1475px #fff, 721px 333px #fff, 1594px 1188px #fff,
    444px 911px #fff, 679px 370px #fff, 1773px 922px #fff, 1749px 368px #fff,
    1331px 281px #fff, 661px 656px #fff, 1938px 891px #fff, 1909px 1826px #fff,
    1461px 146px #fff, 937px 1770px #fff, 1616px 112px #fff, 593px 125px #fff,
    157px 293px #fff, 679px 340px #fff, 244px 181px #fff, 1222px 191px #fff,
    1630px 1774px #fff, 498px 773px #fff, 1266px 1148px #fff, 1350px 1978px #fff,
    1130px 1788px #fff, 1772px 1796px #fff, 1331px 1260px #fff,
    441px 1188px #fff, 1608px 1015px #fff, 1438px 1954px #fff, 975px 141px #fff,
    1172px 1748px #fff, 1519px 942px #fff, 287px 288px #fff, 1169px 545px #fff,
    779px 1826px #fff, 716px 801px #fff, 722px 1637px #fff, 75px 526px #fff,
    1401px 31px #fff, 173px 1905px #fff, 1713px 247px #fff, 1858px 1326px #fff,
    170px 1760px #fff, 860px 1383px #fff, 1692px 485px #fff, 101px 576px #fff,
    96px 419px #fff, 927px 1850px #fff, 68px 135px #fff, 1366px 1093px #fff,
    1337px 730px #fff, 851px 1203px #fff, 1756px 41px #fff, 492px 28px #fff,
    1231px 1030px #fff, 1926px 610px #fff, 435px 1466px #fff, 880px 516px #fff,
    813px 904px #fff, 493px 1225px #fff, 1471px 1234px #fff, 957px 851px #fff,
    904px 1694px #fff, 1613px 478px #fff, 1001px 830px #fff, 1856px 1604px #fff,
    200px 1463px #fff, 309px 992px #fff, 1122px 387px #fff, 1309px 1468px #fff,
    295px 449px #fff, 1484px 1076px #fff, 1182px 632px #fff, 1395px 972px #fff,
    1241px 449px #fff, 386px 901px #fff, 672px 628px #fff, 1679px 1630px #fff,
    1194px 737px #fff, 570px 1459px #fff, 817px 964px #fff, 1560px 759px #fff,
    1788px 848px #fff, 815px 865px #fff, 916px 1900px #fff, 1935px 1394px #fff,
    661px 1728px #fff, 896px 158px #fff, 1461px 163px #fff, 1086px 83px #fff,
    1577px 1668px #fff, 1275px 793px #fff, 1111px 1236px #fff, 660px 1373px #fff,
    920px 1333px #fff, 1389px 1930px #fff, 557px 1978px #fff, 416px 356px #fff,
    947px 1307px #fff, 1886px 856px #fff, 117px 941px #fff, 285px 1572px #fff,
    1948px 1590px #fff, 696px 664px #fff, 676px 783px #fff, 926px 1189px #fff,
    487px 1040px #fff, 90px 1490px #fff, 207px 478px #fff, 1512px 323px #fff,
    1954px 131px #fff, 1505px 1179px #fff, 783px 930px #fff, 1225px 256px #fff,
    1455px 528px #fff, 446px 1195px #fff, 1889px 921px #fff, 1469px 1794px #fff,
    101px 1993px #fff, 1941px 1324px #fff, 512px 375px #fff, 1755px 64px #fff,
    1947px 614px #fff, 1702px 114px #fff, 486px 962px #fff, 1804px 529px #fff,
    80px 1000px #fff, 329px 1363px #fff, 1479px 1506px #fff, 775px 519px #fff,
    85px 510px #fff, 32px 1901px #fff, 1663px 454px #fff, 1445px 747px #fff,
    425px 1548px #fff, 1736px 1780px #fff, 82px 1523px #fff, 1705px 1533px #fff,
    575px 1416px #fff, 401px 1516px #fff, 5px 988px #fff, 1154px 1555px #fff,
    683px 1472px #fff, 845px 1893px #fff, 111px 747px #fff, 479px 316px #fff,
    1345px 929px #fff, 226px 33px #fff;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1958px 740px #fff, 1944px 1093px #fff, 702px 987px #fff,
    1190px 593px #fff, 1417px 1351px #fff, 1066px 1172px #fff, 137px 1523px #fff,
    1125px 499px #fff, 194px 1507px #fff, 1147px 334px #fff, 56px 1893px #fff,
    981px 1566px #fff, 194px 763px #fff, 1666px 343px #fff, 1089px 875px #fff,
    934px 310px #fff, 996px 1445px #fff, 150px 1414px #fff, 1552px 1733px #fff,
    1529px 898px #fff, 1757px 1485px #fff, 801px 287px #fff, 1623px 602px #fff,
    1088px 164px #fff, 421px 1294px #fff, 1731px 21px #fff, 242px 1871px #fff,
    372px 1569px #fff, 682px 82px #fff, 1156px 457px #fff, 1082px 40px #fff,
    1959px 1402px #fff, 1962px 1079px #fff, 1331px 1281px #fff,
    1958px 1487px #fff, 911px 1614px #fff, 1255px 127px #fff, 792px 1836px #fff,
    1548px 934px #fff, 1465px 1753px #fff, 1102px 261px #fff, 331px 1327px #fff,
    1712px 1283px #fff, 1981px 38px #fff, 1511px 1167px #fff, 605px 1757px #fff,
    1995px 477px #fff, 1219px 671px #fff, 1288px 1639px #fff, 1013px 789px #fff,
    588px 291px #fff, 1225px 689px #fff, 104px 1414px #fff, 1044px 487px #fff,
    1990px 41px #fff, 675px 556px #fff, 1142px 1798px #fff, 408px 60px #fff,
    105px 1070px #fff, 480px 1948px #fff, 1634px 202px #fff, 921px 118px #fff,
    1818px 829px #fff, 85px 201px #fff, 1555px 1167px #fff, 1291px 1076px #fff,
    455px 1505px #fff, 1125px 1664px #fff, 1119px 743px #fff, 1997px 1422px #fff,
    608px 557px #fff, 1921px 575px #fff, 455px 844px #fff, 955px 850px #fff,
    1038px 466px #fff, 1099px 626px #fff, 669px 925px #fff, 831px 715px #fff,
    1785px 939px #fff, 1970px 1499px #fff, 31px 1284px #fff, 1004px 1262px #fff,
    1872px 1683px #fff, 1224px 667px #fff, 869px 952px #fff, 739px 1363px #fff,
    862px 1623px #fff, 1382px 1010px #fff, 1131px 783px #fff, 1097px 1286px #fff,
    944px 963px #fff, 1198px 1118px #fff, 188px 586px #fff, 892px 1053px #fff,
    1796px 1876px #fff, 1092px 380px #fff, 1386px 1340px #fff,
    1999px 1158px #fff, 660px 457px #fff, 935px 288px #fff;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1958px 740px #fff, 1944px 1093px #fff, 702px 987px #fff,
    1190px 593px #fff, 1417px 1351px #fff, 1066px 1172px #fff, 137px 1523px #fff,
    1125px 499px #fff, 194px 1507px #fff, 1147px 334px #fff, 56px 1893px #fff,
    981px 1566px #fff, 194px 763px #fff, 1666px 343px #fff, 1089px 875px #fff,
    934px 310px #fff, 996px 1445px #fff, 150px 1414px #fff, 1552px 1733px #fff,
    1529px 898px #fff, 1757px 1485px #fff, 801px 287px #fff, 1623px 602px #fff,
    1088px 164px #fff, 421px 1294px #fff, 1731px 21px #fff, 242px 1871px #fff,
    372px 1569px #fff, 682px 82px #fff, 1156px 457px #fff, 1082px 40px #fff,
    1959px 1402px #fff, 1962px 1079px #fff, 1331px 1281px #fff,
    1958px 1487px #fff, 911px 1614px #fff, 1255px 127px #fff, 792px 1836px #fff,
    1548px 934px #fff, 1465px 1753px #fff, 1102px 261px #fff, 331px 1327px #fff,
    1712px 1283px #fff, 1981px 38px #fff, 1511px 1167px #fff, 605px 1757px #fff,
    1995px 477px #fff, 1219px 671px #fff, 1288px 1639px #fff, 1013px 789px #fff,
    588px 291px #fff, 1225px 689px #fff, 104px 1414px #fff, 1044px 487px #fff,
    1990px 41px #fff, 675px 556px #fff, 1142px 1798px #fff, 408px 60px #fff,
    105px 1070px #fff, 480px 1948px #fff, 1634px 202px #fff, 921px 118px #fff,
    1818px 829px #fff, 85px 201px #fff, 1555px 1167px #fff, 1291px 1076px #fff,
    455px 1505px #fff, 1125px 1664px #fff, 1119px 743px #fff, 1997px 1422px #fff,
    608px 557px #fff, 1921px 575px #fff, 455px 844px #fff, 955px 850px #fff,
    1038px 466px #fff, 1099px 626px #fff, 669px 925px #fff, 831px 715px #fff,
    1785px 939px #fff, 1970px 1499px #fff, 31px 1284px #fff, 1004px 1262px #fff,
    1872px 1683px #fff, 1224px 667px #fff, 869px 952px #fff, 739px 1363px #fff,
    862px 1623px #fff, 1382px 1010px #fff, 1131px 783px #fff, 1097px 1286px #fff,
    944px 963px #fff, 1198px 1118px #fff, 188px 586px #fff, 892px 1053px #fff,
    1796px 1876px #fff, 1092px 380px #fff, 1386px 1340px #fff,
    1999px 1158px #fff, 660px 457px #fff, 935px 288px #fff;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
