@font-face {
  font-family: "Akrobat";
  src: url("../fonts/Akrobat.eot");
  src: url("../fonts/Akrobat.woff") format("woff"),
    url("../fonts/Akrobat.otf") format("opentype"),
    url("../fonts/Akrobat.svg#filename") format("svg");
}

body {
  margin: 0;
  padding: 0;
  background-color: #111 !important;
  background-image: url("intro.svg");
  background-attachment: fixed;
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-family: Akrobat !important;
}

/*-------------------------------------------ADMINISTRACION--------------------------------------------------------*/
.panel-admin {
  display: inline-block;
}
.icono {
  display: inline;
  width: 100px;
}
/*----------------------------------------- LOGIN ----------------------------------------------------------------- */
.dropbtn {
  background-color: #4caf50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #3e8e41;
}

.dpdwmr {
  position: relative;
  display: inline-block;
  margin-top: 7px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 100%;
  border-radius: 5px;
  margin-top: 15px;
  padding: 10px;
  right: 0;
}
.main {
  margin-top: 10px;
}
.show {
  display: block;
}
.dpdw-title {
  font-size: 18px;
  padding: 10px;
  border-bottom: 1px solid #f3f3f3;
}
.btn-dpdw {
  width: 160px;
}
.btn-button {
  text-transform: uppercase;
  font-weight: 700;
}
.form-group a {
  margin-bottom: 0px;
}
.log {
  border: 1px solid #f1f1f1;
  border-radius: 5px;
  background-color: #fff;
  width: 400px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}
/* ------------------------------- CONTAINER PRINCIPAL ------------------------------*/
.content {
  margin-bottom: 10px;
  margin-top: 10px;
  display: block;
}
.post-vp .area-imagen {
  max-width: auto;
  height: auto;
}
.post {
  padding: 10px;
  width: 200px;
  border: 1px solid #dedede;
  display: inline-block;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 20px;
}
.posts {
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 2px solid #f5f5f5;
  padding-bottom: 10px;
}
.posts .thumb {
  margin-right: 10px;
  width: 20%;
}
.posts .thumb img {
  width: 100%;
}
.posts h2 a {
  color: #7b7b7b;
  text-decoration: none;
}
.posts h1 a {
  color: #7b7b7b;
  text-decoration: none;
}
.post-content {
  padding: 5px;
}

.post:hover {
  padding: 10px;
  width: 200px;
  border: 1px solid #dedede;
  display: inline-block;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 20px;
  background-color: #dedede;
}
.post-vp {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  width: 100%;
  height: auto;
  border-radius: 12px 12px 0px 0px;
  -moz-border-radius: 12px 12px 0px 0px;
  -webkit-border-radius: 12px 12px 0px 0px;
  box-shadow: 3px 3px #4b00c9;
}
.img-fluid-are {
  width: 100%;
  height: auto;
  border-radius: 12px 12px 0px 0px;
  -moz-border-radius: 12px 12px 0px 0px;
  -webkit-border-radius: 12px 12px 0px 0px;
  border: 3px solid #ebcc43;
}
.post-vp:hover {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
}
.sinopsis {
  margin: 5px;
}
.side-bar {
  background-color: #fff;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #dedede;
}
.bdr-title {
  border-bottom: 1px solid #bcbcbc;
}
.side-day {
  border: 1px solid #dedede;
}
/*------------------------------- PIE DE PAGINA -----------------------------------------------------*/
.footer {
  background-color: #222;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;
  margin-top: 20px;
}
.nm-footer {
  font-weight: bold;
}
.nm-footer:hover {
  color: #dfaa99;
}
/*--------------------------------------------- CONTENIDO PAGINA SERIE -------------------------------------------------------------*/
.contenido {
  padding: 10px;
}
.contenido .thumb {
  width: 25%;
  margin-right: 10px;
}
.contenido .thumb img {
  width: 100%;
}
/*--------------------------------------------- CONTENIDO PAGINA DE VIDEOS --------------------------------------------------------------*/
.area-video {
  background-color: #454545;
  padding: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
  border: 1px solid #303030;
  display: block;
}
.widget-video {
  background-color: #454545;
  margin-bottom: 10px;
  margin-top: 20px;
  border: 1px solid #484848;
  display: block;
  border-radius: 2px;
}
.title-name-video {
  background-color: #959595;
  color: #fff;
  padding: 10px;
  border-radius: 3px;
}
.TabListCap {
  margin-left: 0px;
  width: 100%;
  text-align: center;
  display: table;
  background-color: #252525;
  border-radius: 5px;
}
.TabListCap > li {
  float: left;
}
.TabListCap > li > a {
  width: 100%;
}
.nav-pills > li {
  color: #fff;
  border-top: 2px solid #5c1571;
  background-color: #101010;
}
.Prev {
  background-color: #101010;
  border-radius: 50%;
  padding: 5px;
  font-size: 25px;
  margin-left: 5px;
}
.Next {
  background-color: #101010;
  border-radius: 50%;
  padding: 5px;
  font-size: 25px;
}
.Prev:hover,
.Next:hover {
  background-color: #00bcf2;
}
.Prev:focus .Next:focus {
  background-color: #00bcf2;
}
.divisor {
  border-top: 1px solid #00bcf2;
  margin: 5px 5px;
}
.space {
  margin: 5px 5px 5px 5px;
  display: inline-block;
}
.gnero {
  margin-top: 10px;
  padding: 10px 5px 5px 5px;
  height: 80px;
  background-color: #2d2828;
  border-radius: 5px;
}
.margin {
  margin: 0px 2px 0px 2px;
  display: inline-block;
  font-weight: bold;
}
/*------------------------- BUSCADOR ------------------------------*/
#resultado-q {
  position: absolute;
  margin-top: 7px;
  z-index: 99;
}
.resultado {
  position: absolute;
  background-color: #fff;
  margin-top: 50px;
  width: 200px;
  padding-top: 10px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 3px;
  box-shadow: 5px 5px 5px #000;
}
.resultado-q {
  padding-bottom: 5px;
  padding-top: 5px;
}

.seccion1 {
  position: relative;
  top: 200px;
  width: 250px;
  height: 200px;
  margin: 10px;
  border: 2px solid rgb(241, 235, 235);
  float: left;
  color: #ffffff;
}

.main-container {
  max-width: 1440px !important;
}

.main-slider {
  max-width: 1280px;
}

.title {
  color: #000;
  margin-bottom: 20px;
  background-color: #ebcc43;
  font-weight: bold;
  border-radius: 10px;
  box-shadow: 3px 3px #4b00c9;
  padding: 5px;
}
.title_cap {
  color: #000;
  font-weight: bold;
  font-size: 100% !important;
}

.col-2dot4,
.col-sm-2dot4,
.col-md-2dot4,
.col-lg-2dot4,
.col-xl-2dot4 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.col-2dot4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%;
}
@media (min-width: 540px) {
  .col-sm-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
}
@media (min-width: 720px) {
  .col-md-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
}
@media (min-width: 960px) {
  .col-lg-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
}
@media (min-width: 1140px) {
  .col-xl-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
}

@media (max-width: 540px) {
  #buscar1 {
    width: 200px;
    margin-top: 10px;
  }
}

@media only screen and (min-width: 1024px) {
  .carousel {
    width: 90%;
    margin: 0 auto;
  }
}

.konata {
  visibility: hidden;
}

@media (min-width: 1024px) {
  .konata {
    visibility: visible;
  }
}

.anime-card {
  width: 14rem;
}

@media (max-width: 974px) {
  .anime-grid {
    justify-content: center;
  }
  .anime-card {
    width: 12rem;
  }
}

@media (max-width: 574px) {
  .anime-grid {
    justify-content: center;
  }
  .anime-card {
    width: 10rem;
  }
}
.donar {
  max-width: 70%;
  float: right;
}

@media (max-width: 1366px) {
  .donar {
    max-width: 30%;
    float: right;
  }
}

@media (max-width: 767px) {
  .tituloh2 {
    justify-content: center;
    margin: auto;
    text-align: center;
  }
}

div .are_post {
  padding: 20px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.are_post img {
  object-fit: cover;
  object-position: center;
  height: 200px;
  width: 100%;
  border-radius: 15px 15px 0px 0px;
  -moz-border-radius: 15px 15px 0px 0px;
  -webkit-border-radius: 15px 15px 0px 0px;
  box-shadow: 5px 5px #4b00c9;
}
.are_post img:hover,
img:focus {
  border: 3px solid #fff;
}

.are_post h5 {
  text-align: center;
  background-color: #ebcc43;
  border-radius: 0px 0px 15px 15px;
  -moz-border-radius: 0px 0px 15px 15px;
  -webkit-border-radius: 0px 0px 15px 15px;
  flex: 1 1 auto;
  padding: 10px !important;
  font-size: 1.2rem;
  box-shadow: 5px 5px #4b00c9;
}

.are_post h5 > a {
  color: #000 !important;
}
.are_post h5 > a:hover,
a:focus {
  text-decoration: none !important;
  color: #a0a0a0 !important;
}

.capitulo_are {
  justify-content: center;
  display: flex;
}
.capitulos_titulo {
  background-color: #ebcc43;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 0px 0px 12px 12px;
  -moz-border-radius: 0px 0px 12px 12px;
  -webkit-border-radius: 0px 0px 12px 12px;
  flex: 1 1 auto;
  box-shadow: 3px 3px #4b00c9;
  max-height: 1.3rem;
  overflow: hidden;
}
.capitulos_titulo > h5 {
  vertical-align: middle;
}

.dflex {
  display: flex;
  flex-direction: column;
  flex: auto;
  margin-bottom: 20px;
  padding: 10px;
}

.tabla_episodios {
  background-color: #430d65;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 3px solid #8337d5;
  margin-bottom: 15px;
  max-height: 524px;
  overflow: scroll;
}

#caps_scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
  border-radius: 1px;
}

#caps_scrollbar::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

#caps_scrollbar::-webkit-scrollbar-thumb {
  border-radius: 1px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.44, rgb(173, 2, 207)),
    color-stop(0.72, rgb(88, 0, 122)),
    color-stop(0.86, rgb(36, 1, 59))
  );
}
#caps_scrollbar {
  scrollbar-color: rgb(111, 10, 212) rgb(44, 0, 73);
  scrollbar-width: thin;
}
.proximo_ep {
  background: #28a745;
  color: #fff;
  font-weight: 500;
  font-size: 1.2em;
  vertical-align: middle;
  padding-left: 5px;
}

.are_ad_banner {
  display: block !important;
}

@media only screen and (max-width: 767px) {
  .are_ad_banner {
    display: none !important;
  }
}

.are_ad_mobile {
  display: none !important;
}

@media only screen and (max-width: 767px) {
  .are_ad_mobile {
    display: block !important;
  }
}

.boton_estado {
  max-width: 100%;
}

@media only screen and (max-width: 575px) {
  .boton_estado {
    max-width: 284px;
    margin: auto;
  }
}

.are_c_img {
  border-radius: 5px;
}

.are_c_c {
  border-radius: 5px;
  border: 3px solid;
  box-shadow: 5px 5px #4b00c9;
}

.are_nav_t {
  text-shadow: 1px 1px #4b00c9;
}

.capitulo_are .are_icon_c {
  position: absolute;
  font-size: 50px;
  text-align: center;
  vertical-align: middle;
  opacity: 0;
}

.capitulo_are:hover .are_icon_c {
  transition: 0.2s;
  opacity: 1;
  top: 35px;
  z-index: 99;
  color: #ebcc43;
}

.capitulo_are:hover img {
  opacity: 0.75;
  transition: 0.2s;
  backface-visibility: hidden;
  z-index: -1;
}

a p.a_description {
  position: absolute;
  opacity: 0;
}

a:hover > .a_description {
  opacity: 1;
  transition: 0.2s;
  color: #fff !important;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
}

.v_are_ad {
  display: block;
  position: absolute;
  float: left;
  left: 20px;
}
@media only screen and (max-width: 757px) {
  .v_are_ad {
    position: absolute;
    float: left;
    left: 20px;
    display: hidden;
  }
}
